{% extends 'base.html' %}
{% load static %}
{% block title %}AGRAS - LOGIN{% endblock %} 

{% block content %}
<div class="bg-gray-300 flex items-center justify-center min-h-screen">
    <!-- Container Principal -->
    <div class="w-full max-w-md mx-auto rounded-2xl bg-white p-6">
        <div class="flex flex-col items-center justify-center">
            <!-- Logo -->
            <img src="{% static 'assets/logo-green.png' %}" alt="Logo" class="w-36 mt-4" />
            
            <!-- Formulário de Login -->
            <form action="{% url 'login' %}" method="POST" class="mt-8 w-full">
                {% csrf_token %}
                
                <!-- Campo Usuário -->
                <div class="mb-5">
                    <label for="username" class="block text-black text-sm font-normal mb-[2px]">Usuário</label>
                    <input type="text" name="username" id="username" class="w-full px-3 py-2 border rounded-[13px] bg-[#e6e6e6] focus:outline-none focus:ring-2 focus:ring-[#8ABF17] text-black" required>
                </div>
                
                <!-- Campo Senha -->
                <div class="mb-5">
                    <label for="password" class="block text-black text-sm font-normal mb-[2px]">Senha</label>
                    <input type="password" name="password" id="password" class="w-full px-3 py-2 border rounded-[13px] bg-[#e6e6e6] focus:outline-none focus:ring-2 focus:ring-[#8ABF17] text-black" required>
                </div>
                
                <!-- Botão de Entrar -->
                <button type="submit" class="w-full px-3 py-2 mt-6 relative inline-flex items-center justify-center overflow-hidden font-medium text-white transition duration-300 ease-out border-2 border-[#8ABF17] rounded-[13px] shadow-md group">
                    <span class="absolute inset-0 flex items-center justify-center w-full h-full text-white duration-300 -translate-x-full bg-[#8ABF17] group-hover:translate-x-0 ease">
                        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                        </svg>
                    </span>
                    <span class="absolute flex items-center justify-center w-full h-full text-[#8ABF17] text-xl font-bold uppercase transition-all duration-300 transform group-hover:translate-x-full ease">Entrar</span>
                    <span class="relative invisible">Entrar</span>
                </button>
            </form>
            
            <!-- Link para Cadastro -->
            <p class="mt-4 text-sm">Não possui conta? <a href="{% url 'create_user' %}" class="cursor-pointer underline text-[#8ABF17]">Cadastre-se</a></p>
        </div>
    </div>
</div>
{% endblock %}
