{% extends 'base.html' %}
{% load static %}
{% block title %}AGRAS - LOGIN{% endblock %} 

{% block content %}
<div class="flex flex-col lg:flex-row h-screen bg-[#fafafa] overflow-hidden">
    <div class="lg:w-1/2 flex flex-col items-center justify-center bg-white h-screen p-6 lg:rounded-r-[160px] drop-shadow-lg">
        <div class="w-full max-w-md text-center">
            <img src="{% static 'assets/colorido-horizontal.png' %}" alt="Logo" class="max-w-[300px] mb-14 mx-auto" />
           <div class="flex flex-col items-start">
            <h1 class="font-bold text-[50px] mb-2">Entrar</h1>
            <p class="font-medium text-[18px] mb-8">Seja bem-vindo(a) novamente!</p>
           </div>
            <form action="{% url 'login' %}" method="POST" class="mt-8 w-full">
                {% csrf_token %}
                <div class="mb-5">
                    <input type="text" name="login_input" id="login_input" placeholder="Usuário ou Email" class="w-full px-1 py-2 border-b-2 border-[#8ABF17] focus:outline-none focus:ring-0 text-black placeholder-black" required>
                </div>
                <div class="mb-6 flex items-center justify-center text-center relative">
                    <input type="password" name="password" id="password" placeholder="Senha" 
                           class="w-full px-1 py-2 border-b-2 border-[#8ABF17] focus:outline-none focus:ring-0 text-black placeholder-black pr-10" 
                           required>
                    <img src="{% static 'assets/eye-slash-fill.svg' %}" class="absolute right-2 top-1/2 transform -translate-y-1/2 w-[24px] cursor-pointer" alt="Mostrar Senha" id="togglePassword">
                </div>   
                <div class="flex justify-between mb-6">
                    <div>
                        <input type="checkbox" id="remember" name="remember">
                        <label for="remember">Lembrar-me</label>
                    </div>
                    <a href="" class="text-[16px] font-regular cursor-pointer text-[#8ABF17]">Esqueceu a senha?</a>
                </div>             
                <button type="submit" class="w-full px-3 py-2 mt-6 relative inline-flex items-center justify-center overflow-hidden font-medium text-white transition duration-300 ease-out bg-[#8ABF17] border-2 border-[#8ABF17] rounded-[12px] shadow-md group">
                    <span class="absolute inset-0 flex items-center justify-center w-full h-full text-white duration-300 -translate-x-full bg-white group-hover:translate-x-0 ease">
                        <svg class="w-6 h-6 text-[#8ABF17]" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                        </svg>
                    </span>
                    <span class="absolute flex items-center justify-center w-full h-full text-white text-[16px] font-medium transition-all duration-300 transform group-hover:translate-x-full ease">Entrar</span>
                    <span class="relative invisible">Entrar</span>
                </button>
                <p class="text-[16px] font-medium flex mt-2 items-center justify-center">Não tem uma conta? <a href="{% url 'create_user' %}" class="text-[#8ABF17] ml-1 underline">Cadastre-se</a></p>
            </form>
        </div>
    </div>
    <div class="lg:w-2/3 bg-cover bg-center bg-[#fafafa] lg:flex hidden items-center flex-col justify-center h-screen">
        <img src="{% static 'assets/colhendo toranja.png' %}" alt="Tipografia" class="sm:w-[590px] w-[400px] mb-4">
    </div>
</div>
{% endblock %}
