{% extends 'base.html' %}

{% block content %}
<div class="dashboard-container">
    <h1>Dashboard</h1>
    <a href="{% url 'seedbeds:list-seedbeds' %}" class="button"><i class="fas fa-list"></i> Gerenciar Canteiros</a>
</div>
{% endblock %}

<style>
    .dashboard-container {
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        margin: 20px auto;
        max-width: 600px;
    }
    .dashboard-container h1 {
        margin-bottom: 20px;
    }
    .button {
        display: inline-block;
        padding: 10px 20px;
        margin: 10px;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        color: #fff;
        background-color: #007BFF;
        transition: background-color 0.3s;
    }
    .button:hover {
        background-color: #0056b3;
    }
</style>
