{% extends 'base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<!-- Main Content -->
<div class="lg:ml-[250px] mt-12 lg:mt-[90px] fade-down w-full lg:w-auto p-8 bg-[#FAFAFA]">
    <div class="flex-1 flex-col -mt-2">
        <div>
            <h1 class="font-semibold text-[32px] sm:text-[40px]">Olá, {{user.first_name}}!</h1>
            <p class="font-medium text-[16px] sm:text-[20px] mb-6 -mt-2">Seja bem-vindo(a) ao AGRAS!</p>
        </div>

        <!-- CARD IMPULSIONAR -->
        <div class="w-full relative flex flex-col sm:flex-row sm:space-x-4 mb-8">
            <div class="cursor-pointer sm:w-[75%] w-full sm:mb-0 mb-6">
                <!-- Aumentando a altura da imagem em telas maiores -->
                <img src="{% static 'assets/freepik.jpg' %}" alt="Fazendeira" class="rounded-[14px] min-h-[300px] sm:min-h-[400px] object-cover"/>
                <p class="font-bold max-w-[200px] sm:max-w-[300px] socorro text-white absolute sm:top-[110px] top-[100px] drop-shadow-lg left-[30px] sm:left-[60px] text-[20px] text-left sm:text-[24px]">
                    Impulsione a sua produtividade com o AGRAS!
                </p>
            </div>

            <!-- CARD DE TEMPERATURA (incluindo arquivo weather.html) -->
            {% include "weather.html" %}
        </div>

        <!-- CARD DE COLHEITAS -->
        <div class="w-full h-auto mx-auto bg-white drop-shadow-xl rounded-[14px] border mb-4 p-6">
            <div class="flex flex-row justify-between items-center mb-4">
                <h1 class="font-bold text-black text-[18px] sm:text-[20px]">Cultivos populares</h1>
                <a href="{% url 'area_manage' community.id %}" 
                class="bg-[#5F8C1B] text-white p-2 rounded-lg text-sm sm:text-base hover:bg-[#4a7c13] hover:shadow-lg transition duration-200 ease-in-out">
                Ver Áreas
             </a>
            </div>
            {% for crop_in_community in crops_in_community %}
            <a href="{% url 'seedbed_detail' community.id crop_in_community.seedbed.area.id crop_in_community.seedbed.id  %}" id="crop-{{crop_in_community.seedbed.area.id}}-{{crop_in_community.seedbed.id}}" class="flex flex-col sm:flex-row items-center justify-between py-4 border-b last:border-0 hover:bg-[#F1F8E4] transition-all duration-200 rounded-lg">
                <div class="flex items-center space-x-4 mb-4 sm:mb-0">
                    <div class="bg-[#D4E8A1] text-[#5F8C1B] p-3 rounded-full hover:bg-[#8ABF17] transition-all duration-300">
                        <span class="material-icons-outlined flex items-center justify-center">grass</span>
                    </div>
                    <div>
                        <h3 class="text-lg font-semibold text-gray-800 hover:text-[#5F8C1B] transition-all duration-300 flex">{{ crop_in_community.type_product.name }} - <span class="text-[12px] items-center ml-1 text-center"> {{ crop_in_community.quantidade }} plantados </span> </h3>
                        <p class="text-sm text-gray-500"> Área: {{ crop_in_community.seedbed.area }} - Canteiro: {{ crop_in_community.seedbed }}  </p>
                    </div>
                </div>
                <div class="text-right">
                    <p class="text-sm text-gray-400">Data de plantio:</p>
                    <p class="text-sm font-semibold text-gray-700">{{ crop_in_community.data_plantio }}</p>
                </div>
            </a>
            {% empty %}
            <p class="text-center text-gray-500 py-4">Não existem cultivos cadastrados na comunidade {{ community.name }}</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
