{% extends 'base.html' %}
{% load static %}
{% block title %}Comunidades{% endblock %}

{% block content %}

<!-- Sidebar -->
<div class="px-8 py-10 mx-auto flex flex-row gap-x-8 bg-white">
    
    <div class="bg-[#8ABF17] flex flex-col items-center rounded-[20px] w-full lg:w-[220px] h-auto lg:h-[850px] mb-8 lg:mb-0"> 
        <a href="/"><img class="w-[146px] mt-12 mb-8" src="{% static 'assets/logo-branco-h.png' %}" alt="AGRAS"> </a>   
        <div class="flex flex-col gap-y-6 mt-12 w-full px-4 flex-grow">
            <div class="flex-grow"></div>
            <form action="{% url 'logout' %}" method="POST" class="w-full px-4 mb-12">
                {% csrf_token %}
                <button class="text-[14px] font-normal text-white flex items-center cursor-pointer w-full">
                    <span class="material-icons mr-2">logout</span>Sair
                </button>
            </form>
        </div>
    </div> 

    <!-- Main content -->
    <div class="flex-1 p-6 lg:p-10">
        <header class="mb-6">
            <h1 class="text-3xl lg:text-[48px] font-bold">Comunidades</h1>
            <p class="text-lg text-black font-medium">Encontre, crie e gerencie seus plantios!</p>
        </header>

        <!-- Botão para adicionar comunidade -->
        <button id="addCommunityBtn" class="bg-[#8ABF17] text-white px-4 py-2 rounded-md mb-6" onclick="toggleModal('create')">
            Adicionar Comunidade
        </button>

        <!-- Modal para criar comunidade -->
        <div id="communityModal" class="fixed inset-0 bg-black bg-opacity-50 hidden flex justify-center items-center">
            <div class="bg-white p-8 rounded-lg max-w-sm w-full">
                <h2 id="modalTitle" class="text-2xl font-bold mb-4">Criar Comunidade</h2>
                <form id="communityForm" method="post" action="{% url 'create_community' %}">
                    {% csrf_token %}
                    <div class="mb-4">
                        <label for="name" class="block text-sm font-medium text-gray-700">Nome da Comunidade</label>
                        <input type="text" name="name" id="name" required class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-[#8ABF17] focus:border-[#8ABF17]">
                    </div>
                    <div class="mb-4">
                        <label for="description" class="block text-sm font-medium text-gray-700">Descrição</label>
                        <textarea name="description" id="description" required class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-[#8ABF17] focus:border-[#8ABF17]"></textarea>
                    </div>
                    <div class="flex justify-end">
                        <button type="button" class="mr-2 bg-gray-300 text-gray-700 px-4 py-2 rounded" onclick="toggleModal('close')">Cancelar</button>
                        <button type="submit" class="bg-[#8ABF17] text-white px-4 py-2 rounded">Criar</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Modal para editar comunidade -->
        <div id="editCommunityModal" class="fixed inset-0 bg-black bg-opacity-50 hidden flex justify-center items-center">
            <div class="bg-white p-8 rounded-lg max-w-sm w-full">
                <h2 class="text-2xl font-bold mb-4">Editar Comunidade</h2>
                <form id="editCommunityForm" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="id" id="editCommunityId">
                    <div class="mb-4">
                        <label for="editName" class="block text-sm font-medium text-gray-700">Nome da Comunidade</label>
                        <input type="text" name="name" id="editName" required class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-[#8ABF17] focus:border-[#8ABF17]">
                    </div>
                    <div class="mb-4">
                        <label for="editDescription" class="block text-sm font-medium text-gray-700">Descrição</label>
                        <textarea name="description" id="editDescription" required class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-[#8ABF17] focus:border-[#8ABF17]"></textarea>
                    </div>
                    <div class="flex justify-end">
                        <button type="button" class="mr-2 bg-gray-300 text-gray-700 px-4 py-2 rounded" onclick="toggleModal('closeEdit')">Cancelar</button>
                        <button type="submit" class="bg-[#8ABF17] text-white px-4 py-2 rounded">Salvar</button>
                    </div>
                </form>
            </div>
        </div>

<!-- Cards Grid -->
<div id="communitiesGrid" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
    {% for community in communities %}
    <div class="bg-white shadow-md rounded-lg overflow-hidden flex flex-col h-full">
        <div class="flex-1 p-4 bg-[#8ABF17] text-center text-white">
            <h3 class="font-bold text-lg">{{ community.name }}</h3>
            <p class="text-sm break-words">{{ community.description }}</p>
        </div>
        <div class="p-4 bg-[#8ABF17] flex justify-between">
            <div class="flex-grow flex justify-between">
                <a href="{% url 'dashboard' community.id %}" class="bg-white text-[#8ABF17] font-semibold px-4 py-2 rounded-md border-2 border-white flex-1 mx-1 text-center">Entrar</a>
                <form action="{% url 'delete_community' community.id %}" method="post" class="inline flex-1 mx-1">
                    {% csrf_token %}
                    <button type="submit" class="bg-red-500 text-white px-4 py-2 rounded-md flex-1 text-center">Excluir</button>
                </form>
                <button class="bg-blue-500 text-white px-4 py-2 rounded-md flex-1 mx-1 text-center edit-btn" data-id="{{ community.id }}" data-name="{{ community.name }}" data-description="{{ community.description }}" onclick="openEditModal(this)">Editar</button>
            </div>
        </div>
    </div>
    {% empty %}
    <p class="text-gray-500">Nenhuma comunidade encontrada.</p>
    {% endfor %}
</div>


<script>
    function toggleModal(action) {
        const modal = document.getElementById('communityModal');
        const editModal = document.getElementById('editCommunityModal');
        if (action === 'create') {
            modal.classList.toggle('hidden');
            document.getElementById('communityForm').reset();
        } else if (action === 'close') {
            modal.classList.add('hidden');
        } else if (action === 'openEdit') {
            editModal.classList.remove('hidden');
        } else if (action === 'closeEdit') {
            editModal.classList.add('hidden');
        }
    }

    function openEditModal(button) {
        const id = button.getAttribute('data-id');
        const name = button.getAttribute('data-name');
        const description = button.getAttribute('data-description');

        document.getElementById('editCommunityId').value = id;
        document.getElementById('editName').value = name;
        document.getElementById('editDescription').value = description;

        document.getElementById('editCommunityForm').action = `{% url 'update_community' 0 %}`.replace('0', id);

        toggleModal('close');
        toggleModal('openEdit');
    }
</script>
{% endblock %}
