{% extends 'base.html' %}
{% load static %}
{% block title %}Comunidades{% endblock %}

{% block content %}
     <!-- Navbar -->
     <nav class="bg-white border-b-[1px] h-[90px] border-[#CECECE] flex justify-between items-center px-8 py-4 fixed top-0 left-0 w-full z-10 lg:flex xl:flex 2xl:flex sm:hidden md:hidden hidden-sm">
        <div class="flex items-center">
            <a href="/" class="flex items-center mr-20 z-20 cursor-pointer">
                <img src="{% static 'assets/colorido-horizontal.png' %}" alt="AGRAS" class="w-[160px] mr-4">
            </a>
            <div class="relative"> 
            <div class="flex flex-col">
                <h1 class="font-regular text-[20px] uppercase">Entre em uma</h1>
                <h2 class="font-bold text-[24px] -mt-2">Comunidade</h2>
            </div>
            </div>
        </div>
        <div class="flex items-center">
            <div class="flex items-center cursor-pointer z-20"> 
                <a href="{% url 'edit' %}" class="flex flex-row items-center">
                    <div class="w-8 h-8 bg-[#8ABF17] text-[#FFFFFF] flex items-center justify-center rounded-md mr-2 font-bold">
                        {{ user.username|slice:":1"|upper }}
                    </div>
                    <div class="flex flex-col">
                        <span class="text-sm font-medium">{{ user.username }}</span> 
                        <span class="text-xs text-gray-500">{{ user.email }}</span> 
                    </div>
                </a>
            </div>
        </div>
    </nav> 

        <!-- Mobile Navbar -->
        <nav class="bg-white border-b-[1px] border-[#CECECE] h-[60px] flex justify-between items-center px-4 py-2 fixed top-0 left-0 w-full z-20 lg:hidden xl:hidden 2xl:hidden sm:flex md:flex">
            <button id="mobile-menu-button" class="text-[#8ABF17] focus:outline-none">
                <span class="material-icons">menu</span>
            </button>
            <a href="/" class="flex items-center">
                <img src="{% static 'assets/colorido-horizontal.png' %}" alt="AGRAS" class="w-[100px]">
            </a>
            <div class="flex items-center">
                <a href="{% url 'edit' %}">
                    <div class="w-8 h-8 bg-[#8ABF17] text-[#FFFFFF] flex items-center justify-center rounded-md mr-2 font-bold">
                        {{ user.username|slice:":1"|upper }}
                    </div>
                </a>
            </div>
        </nav>

    <!-- Sidebar -->
    <div class="bg-[#8ABF17] min-h-screen lg:flex xl:flex 2xl:flex sm:hidden md:hidden hidden-sm flex-col items-center w-[250px] fixed top-0 z-20 border-r-[1px] border-[#CECECE]">
        <div class="border-b-[1px] border-[#CECECE] w-[250px] h-[90px] fixed"></div>
        <a href="/" class="px-8 py-8 mr-4 z-20 cursor-pointer">
            <img src="{% static 'assets/logo-branco-h.png' %}" alt="AGRAS" class="w-[160px]">
        </a>
        <div class="flex flex-col gap-y-8 mt-12 w-full text-white">  <!-- Text color changed to white -->
            <a href="{% url 'community_hub' %}" class="px-8 text-[14px] font-normal flex items-center cursor-pointer {% if request.resolver_match.url_name == 'community_hub' %}bg-white text-[#8ABF17] py-3 font-medium{% endif %}"> 
                <span class="w-[23px] material-icons-outlined mr-2" alt="comunidar-2">group</span> Comunidades
            </a>
        </div>
        <form action="{% url 'logout' %}" method="POST" class="w-full mb-12 absolute bottom-0 left-0">
            {% csrf_token %}
            <button class="px-8 text-[14px] font-normal text-white flex items-center cursor-pointer w-full py-3 hover:bg-white hover:text-[#8ABF17] transition-colors duration-300"> <!-- Improved logout button styling -->
                <span class="w-[23px] mr-2 material-icons-outlined">logout</span>Sair
            </button>
        </form>
    </div>

    <!-- Mobile Sidebar (Hidden by default) -->
    <div id="mobile-menu" class="bg-[#8ABF17] fixed top-0 left-0 h-full w-64 shadow-lg z-20 transform -translate-x-full transition-transform duration-300 ease-in-out lg:hidden border-r-[1px] border-[#CECECE]">
        <div class="p-[14.3px] border-b border-[#CECECE] flex justify-between items-center">
            <p class="flex ml-4 w-full text-white font-semibold">Menu Lateral</p>
            <button id="mobile-menu-close-button" class="text-white focus:outline-none ml-auto">
                <span class="material-icons">close</span>
            </button>
        </div>
        <div class="flex flex-col gap-y-8 mt-12 w-full text-white">  <!-- Text color changed to white -->
            <a href="{% url 'community_hub' %}" class="px-8 text-[14px] font-normal flex items-center cursor-pointer {% if request.resolver_match.url_name == 'community_hub' %}bg-white text-[#8ABF17] py-3 font-medium{% endif %}"> 
                <span class="w-[23px] material-icons-outlined mr-2" alt="comunidar-2">group</span> Comunidades
            </a>
        </div>
        <form action="{% url 'logout' %}" method="POST" class="w-full mb-12 absolute bottom-0 left-0">
            {% csrf_token %}
            <button class="px-8 text-[14px] font-normal text-white flex items-center cursor-pointer w-full py-3 hover:bg-white hover:text-[#8ABF17] transition-colors duration-300"> <!-- Improved logout button styling -->
                <span class="w-[23px] mr-2 material-icons-outlined">logout</span>Sair
            </button>
        </form>
    </div>
        
        <!-- Main content -->
        <div class="flex-1 p-6 py-8 bg-[#FAFAFA] h-screen ml-0 lg:ml-[250px] mt-12 lg:mt-[90px]">
            {% if communities %} 
            <header class="mb-6 fade-down">
                <h1 class="text-3xl lg:text-[48px] font-bold">Comunidades</h1>
                <p class="text-lg text-black font-medium">Encontre, crie e gerencie seus plantios!</p>
            </header>
    
            <!-- Botão para adicionar comunidade -->
            
            <button id="addCommunityBtn" class="mt-4 bg-[#8ABF17] fade-down text-white px-6 py-3 rounded-[9px] mb-6 hover:bg-[#7cad10] hover:text-[#edf0e9] font-semibold" onclick="toggleModal('create')">
                Criar Comunidade
            </button>
            {% endif %}
    
            {% if not has_communities %}
            <div id="noMemberCommunityModal" class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50">
                <div class="bg-white px-14 py-12 rounded-[34px] w-[90%] sm:w-[80%] md:w-[70%] lg:w-[60%] xl:w-[50%] max-w-[605px] max-h-[663px] overflow-y-auto">
                    <h2 id="modalTitle" class="text-[24px] font-bold mb-4 text-[#8ABF17]">Olá</h2>
                    <p class="font-medium text-[16px]">Notamos que você ainda não faz parte de nenhuma comunidade. Gostaria de explorar comunidades já existentes ou criar a sua própria?</p>
                        <div class="flex justify-end mt-12">
                            <button class="mr-2 bg-white border-2 border-[#8ABF17] hover:border-[#7aab0f] text-[#8ABF17] hover:text-[#7aab0f] font-bold px-6 py-3 rounded-[9px] w-full text-[16px]" onclick="toggleModal('closeNoMember')">Explorar comunidades</button>
                            <button id="addCommunityBtn" class="mr-2 bg-[#8ABF17] font-bold px-6 py-3 hover:bg-[#7aab0f] text-[#f3f7f0] rounded-[9px] w-full text-[16px]" onclick="toggleModal('create')">Criar comunidade</button>
                        </div>
                </div>
            </div>
            {% endif %}
    
            <!-- Modal para criar comunidade -->
            <div id="communityModal" class="fixed inset-0 bg-black bg-opacity-50 hidden flex justify-center items-center z-50">
                <div class="bg-white px-14 py-12 rounded-[34px] w-[90%] sm:w-[80%] md:w-[70%] lg:w-[60%] xl:w-[50%] max-w-[596px] max-h-[663px] overflow-y-auto">
                    <h2 id="modalTitle" class="text-[24px] font-bold mb-4 text-[#8ABF17]">Nova comunidade</h2>
                    <p class="font-medium text-[16px]">Preencha as informações abaixo para criar uma nova comunidade</p>
                    <form id="communityForm" method="post" action="{% url 'create_community' %}">
                        {% csrf_token %}
                        <div class="mb-4 mt-6">
                            <label for="name" class="block text-sm font-medium text-gray-700">Nome*</label>
                            <input type="text" name="name" id="name" required class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-[#8ABF17] focus:border-[#8ABF17] h-[55px] py-2 px-3">
                        </div>
                        <div class="mb-4">
                            <label for="description" class="block text-sm font-medium text-gray-700">Descrição</label>
                            <textarea name="description" id="description" required class="mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:ring-[#8ABF17] focus:border-[#8ABF17] h-[120px] py-2 px-3"></textarea>
                        </div>
                        <div class="flex justify-end">
                            <button type="button" class="mr-2 bg-white border-2 border-[#8ABF17] hover:border-[#7aab0f] text-[#8ABF17] hover:text-[#7aab0f] font-bold px-6 py-3 rounded-[9px] w-full" onclick="toggleModal('close')">Cancelar</button>
                            <button type="submit" class="mr-2 bg-[#8ABF17] text-white font-bold px-6 py-3 hover:bg-[#7aab0f] text-[#f3f7f0] rounded-[9px] w-full">Criar</button>
                        </div>
                    </form>
                </div>
            </div>
            
            <!-- Cards Grid -->
            <div class="flex flex-col items-center justify-center w-full space-y-8 bg-[#FAFAFA] fade-down">
                {% if communities|length > 0 %}
                    <!-- Minhas Comunidades -->
                    <div class="w-full ">
                        <h2 class="text-2xl font-bold text-[#8ABF17] mb-4">Minhas comunidades</h2>
                        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-6">
                            {% for community in communities %}
                                {% if community in user.communities_members.all or community in user.admin_communities.all %}
                                <div class="bg-white shadow-md rounded-[20px] overflow-hidden flex flex-col h-[420px] w-full border-[1px] border-[#8ABF17]">
                                    <div class="bg-[#EFF1F3] py-12 flex items-center justify-center h-full">
                                        <img class="w-[150px]" src="{% static 'assets/vertcolorido.png' %}" alt="">
                                    </div>
                                    <div class="flex-1 p-4 py-6 bg-white text-center text-black">
                                        <h3 class="font-bold text-lg">{{ community.name }}</h3>
                                        <p class="text-sm break-words">{{ community.description }}</p>
                                    </div>
                                    <div class="p-4 flex justify-between">
                                        <a href="{% url 'dashboard' community.id %}" class="bg-[#8ABF17] text-white h-[45px] font-semibold px-4 py-2 rounded-[9px] flex-1 mx-1 flex justify-center items-center text-center hover:bg-[#7cad10] hover:text-[#edf0e9]">
                                            Entrar
                                        </a>
                                    </div>
                                </div>
                                {% endif %}
                            {% endfor %}
                            {% if user.communities_members.count == 0 and user.admin_communities.count == 0 %}
                                <p class="col-span-full text-gray-500">Você ainda não participa de nenhuma comunidade.</p>
                            {% endif %}
                        </div>
                    </div>
    
                    <!-- Outras Comunidades -->
                    <div class="w-full fade-down">
                        <h2 class="text-2xl font-bold text-[#8ABF17] mb-4">Outras comunidades</h2>
                        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mt-4">
                            {% for community in communities %}
                                {% if community not in user.communities_members.all and community not in user.admin_communities.all %}
                                <div class="bg-white shadow-md rounded-[20px] overflow-hidden flex flex-col h-[420px] w-full border-[1px] border-[#8ABF17] mb-12">
                                    <div class="bg-[#EFF1F3] py-12 flex items-center justify-center h-full">
                                        <img class="w-[150px]" src="{% static 'assets/vertcolorido.png' %}" alt="">
                                    </div>
                                    <div class="flex-1 p-4 py-6 bg-white text-center text-black">
                                        <h3 class="font-bold text-lg">{{ community.name }}</h3>
                                        <p class="text-sm break-words">{{ community.description }}</p>
                                    </div>
                                    <div class="p-4 flex justify-between">
                                        <a href="{% url 'dashboard' community.id %}" class="bg-[#8ABF17] text-white h-[45px] font-semibold px-4 py-2 rounded-[9px] flex-1 mx-1 flex justify-center items-center text-center hover:bg-[#7cad10] hover:text-[#edf0e9]">
                                            Solicitar acesso
                                        </a>
                                    </div>
                                </div>
                                {% endif %}
                            {% endfor %}
                            {% if communities|length == user_communities_count %}
                                <p class="col-span-full text-gray-500 mb-12">Não há outras comunidades disponíveis.</p>
                            {% endif %}
                        </div>
                    </div>
                {% else %}
                <div class="text-center col-span-full mt-[30vh] fade-down">
                    <div class="flex flex-col items-center justify-center">
                        <img src="{% static 'assets/pumpkin.png' %}" alt="Abobora" class="w-32">
                        <h1 class="font-bold text-[24px]">Nenhuma comunidade criada</h1>
                        <p class="font-normal text-[16px]">Aperte o botão abaixo para criar uma comunidade e começar a gerenciar seus plantios.</p>
                        <button id="addCommunityBtn" class="mt-4 bg-[#8ABF17] text-white px-6 py-3 rounded-[9px] font-semibold mb-6 hover:bg-[#7cad10] hover:text-[#edf0e9]" onclick="toggleModal('create')">
                            Criar Comunidade
                        </button>
                    </div>
                </div>
                {% endif %}
            </div>
    
    <script>
        function toggleModal(action) {
            const modal = document.getElementById('communityModal');
            const editModal = document.getElementById('editCommunityModal');
            const noMemberModal = document.getElementById('noMemberCommunityModal');
    
            if (action === 'create') {
                modal.classList.toggle('hidden');
                noMemberModal.classList.add('hidden');
                document.getElementById('communityForm').reset();
            } else if (action === 'close') {
                modal.classList.add('hidden');
            } else if (action === 'openEdit') {
                editModal.classList.remove('hidden');
            } else if (action === 'closeEdit') {
                editModal.classList.add('hidden');
            } else if (action === 'closeNoMember') {
                noMemberModal.classList.add('hidden'); // Corrigido: adiciona 'hidden' para fechar
            }
        }
    
        const mobileMenuButton = document.getElementById('mobile-menu-button');
        const mobileMenu = document.getElementById('mobile-menu');
        const mobileMenuCloseButton = document.getElementById('mobile-menu-close-button');
    
    
        mobileMenuButton.addEventListener('click', () => {
            mobileMenu.classList.remove('-translate-x-full');
    
        });
    
        mobileMenuCloseButton.addEventListener('click', () => {
            mobileMenu.classList.add('-translate-x-full');
    
        });
    </script>
    
    {% endblock %}
</div>
