{% extends 'base.html' %}
{% load static %}
{% block title %}Gerenciamento da Comunidade{% endblock %}

{% block content %}
    <!-- Main content -->
    <div class="flex-grow fade-down px-4 lg:px-8 py-10 ml:0 lg:ml-[250px] mt-12 lg:mt-[90px]">
        <h1 class="text-3xl lg:text-[48px] font-bold mb-2">Gerenciamento da</h1>
        <h1 class="text-3xl lg:text-[48px] font-bold mb-6">Comunidade </h1>

        <!-- Barra de Comunidade -->
        <div class="bg-gray-100 p-4 rounded-lg mb-6 max-w-[500px] flex items-center justify-between">
            <h2 class="text-xl font-semibold">Comunidade</h2>
            <div class="flex items-center">
                <span class="bg-[#fff] border border-[#8ABF17] text-[#8ABF17] px-4 py-2 rounded-lg font-semibold">{{ community.name }}</span>
                <button onclick="openEditModal()" class="ml-2 bg-yellow-500 text-white p-1 rounded-full hover:bg-yellow-600 focus:outline-none focus:ring-2 focus:ring-yellow-400 flex">
                    <span class="material-icons-outlined">edit</span>
                </button>
                <button onclick="openDeleteModal()" class="ml-2 bg-red-500 text-white p-1 rounded-full hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-400 flex">
                    <span class="material-icons-outlined">delete</span>
                </button>
            </div>
        </div>


        <!-- Seção de solicitações de acesso -->
<div class="bg-gray-100 p-4 rounded-lg mb-6 max-w-full">
    <h2 class="text-xl font-semibold mb-4">Solicitações</h2>
    <p class="text-gray-600 mb-4">Lista de usuários que solicitaram entrada na comunidade</p>
    <table class="min-w-full bg-white rounded-lg">
        <thead>
            <tr>
                <th class="py-2 px-4 text-left font-semibold text-gray-700">Usuário</th>
                <th class="py-2 px-4 text-left font-semibold text-gray-700">Email</th>
                <th class="py-2 px-4 text-left font-semibold text-gray-700">Data de solicitação</th>
                <th class="py-2 px-4 text-center font-semibold text-gray-700">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for request in membership_requests %}
            <tr class="border-b border-gray-200 hover:bg-gray-100">
                <td class="py-2 px-4 text-gray-800">{{ request.user }}</td>
                <td class="py-2 px-4 text-gray-600">{{ request.user.email }}</td>
                <td class="py-2 px-10 text-gray-600">{{ request.request_date|date:"d/m/Y H:i" }}</td>
                <td class="py-2 px-4 flex justify-center space-x-2">
                    <form action="{% url 'aceitar_solicitacao' request.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="bg-green-500 text-white rounded-full p-1 hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-400 flex">
                            <span class="material-icons-outlined">check</span>
                        </button>
                    </form>
                    <form action="{% url 'rejeitar_solicitacao' request.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="bg-red-500 text-white rounded-full p-1 hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-400 flex">
                            <span class="material-icons-outlined">close</span>
                        </button>
                    </form>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4" class="py-4 text-center text-gray-600">Não há solicitações de acesso no momento.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="bg-gray-100 p-4 rounded-lg mb-6 max-w-full">
    <div class="flex items-center mb-4">
        <h2 class="text-xl font-semibold mr-4">Membros</h2>
        <div class="flex items-center px-4 py-3 rounded-md border-2 border-[#8ABF17] overflow-hidden max-w-md">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192.904 192.904" width="16px" class="fill-gray-600 mr-3 rotate-90">
                <path d="m190.707 180.101-47.078-47.077c11.702-14.072 18.752-32.142 18.752-51.831C162.381 36.423 125.959 0 81.191 0 36.422 0 0 36.423 0 81.193c0 44.767 36.422 81.187 81.191 81.187 19.688 0 37.759-7.049 51.831-18.751l47.079 47.078a7.474 7.474 0 0 0 5.303 2.197 7.498 7.498 0 0 0 5.303-12.803zM15 81.193C15 44.694 44.693 15 81.191 15c36.497 0 66.189 29.694 66.189 66.193 0 36.496-29.692 66.187-66.189 66.187C44.693 147.38 15 117.689 15 81.193z"></path>
            </svg>
            <input type="text" id="searchInput" placeholder="Pesquisar nome..." class="w-full outline-none bg-transparent text-[#000] text-sm" onkeyup="searchMembers()" />
        </div>
    </div>
    <p class="text-gray-600 mb-4">Lista de usuários dentro da comunidade</p>
    <table class="min-w-full bg-white rounded-lg" id="membersTable">
        <thead>
            <tr>
                <th class="py-2 px-4 text-left font-semibold text-gray-700">Usuário</th>
                <th class="py-2 px-4 text-left font-semibold text-gray-700">Email</th>
            </tr>
        </thead>
        <tbody id="membersList">
            {% for member in community.members.all %}
            <tr class="border-b border-gray-200 hover:bg-gray-100" data-username="{{ member.username }}" data-email="{{ member.email }}">
                <td class="py-2 px-4 text-gray-800">{{ member.username }}</td>
                <td class="py-2 px-4 text-gray-600">{{ member.email }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="2" class="py-4 text-center text-gray-600">Não há membros na comunidade no momento.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
// FILTRANDO OS MEMBROS COM BASE NA PESQUISA
function searchMembers() {
    const searchInput = document.getElementById("searchInput").value.toLowerCase();
    const rows = document.querySelectorAll("#membersList tr");

    // Loop ocultando os membros
    rows.forEach(row => {
        const username = row.getAttribute("data-username").toLowerCase();
        const email = row.getAttribute("data-email").toLowerCase();

        if (username.includes(searchInput) || email.includes(searchInput)) {
            row.style.display = "";
        } else {
            row.style.display = "none";
        }
    });
}
</script>

        <!-- Modal de edição -->
        <div id="editModal" class="hidden fixed inset-0 bg-gray-500 bg-opacity-75 flex items-center justify-center z-50">
            <div class="bg-white px-14 py-12 rounded-[34px] w-[90%] sm:w-[80%] md:w-[70%] lg:w-[60%] xl:w-[50%] max-w-[596px] max-h-[663px] overflow-y-auto rounded-[32px]">
                <h2 id="modalTitle" class="text-[24px] font-bold mb-4 text-[#8ABF17]">Editar comunidade</h2>
                <p class="font-medium text-[16px]">Altere as informações abaixo para editar sua comunidade</p>
                <form method="POST" action="{% url 'update_community' community.id %}">
                    {% csrf_token %}
                    <div class="mb-4 mt-6">
                        <label for="name" class="block text-sm font-medium text-gray-700">Nome*</label>
                        <input type="text" name="name" id="name" value="{{ community.name }}" required class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-[#8ABF17] focus:border-[#8ABF17] h-[55px] py-2 px-3">
                    </div>
                    <div class="mb-4">
                        <label for="description" class="block text-sm font-medium text-gray-700">Descrição</label>
                        <textarea name="description" id="description" required class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-[#8ABF17] focus:border-[#8ABF17] h-[120px] py-2 px-3">{{ community.description }}</textarea>
                    </div>
                    <div class="flex justify-end">
                        <button type="button" onclick="closeEditModal()" class="mr-2 bg-white border-2 border-[#8ABF17] hover:border-[#7aab0f] text-[#8ABF17] hover:text-[#7aab0f] font-bold px-6 py-3 rounded-[9px] w-full">Cancelar</button>
                        <button type="submit" class="mr-2 bg-[#8ABF17] text-white font-bold px-6 py-3 rounded-[9px] hover:bg-[#7aab0f] text-[#f3f7f0] w-full">Salvar Alterações</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Modal de deleção -->
        <div id="deleteModal" class="hidden fixed inset-0 bg-gray-500 bg-opacity-75 flex items-center justify-center z-50">
            <div class="bg-white px-14 py-12 rounded-[34px] w-full max-w-lg">
                <h3 class="text-xl font-bold mb-4 text-red-600">Excluir Comunidade</h3>
                <p class="text-gray-700 mb-6">Tem certeza de que deseja excluir a comunidade "{{ community.name }}"? Esta ação não pode ser desfeita.</p>
                <form method="POST" action="{% url 'delete_community' community.id %}">
                    {% csrf_token %}
                    <div class="flex flex-row justify-between">
                        <button type="submit" class="mr-2 bg-red-500 text-white px-4 py-2 rounded-lg hover:bg-red-600 w-full font-bold">Excluir</button>
                        <button type="button" onclick="closeDeleteModal()" class="bg-white border-2 border-[#8ABF17] hover:border-[#7aab0f] text-[#8ABF17] hover:text-[#7aab0f] font-bold px-6 py-3 rounded-[9px] w-full">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

<script>
function openEditModal() {
    document.getElementById('editModal').classList.remove('hidden');
}

function closeEditModal() {
    document.getElementById('editModal').classList.add('hidden');
}

function openDeleteModal() {
    document.getElementById('deleteModal').classList.remove('hidden');
}

function closeDeleteModal() {
    document.getElementById('deleteModal').classList.add('hidden');
}
</script>
{% endblock %}
