{% extends 'base.html' %}
{% load static %}
{% block title %}Meu Perfil{% endblock %}

{% block content %}
<!-- Título principal fora do modal -->
<div class="flex-1 lg:p-8 ml:0 lg:ml-[250px] mt-12 lg:mt-[60px]">
    <header class="mb-2">
        <h1 class="text-[32px] sm:text-[36px] md:text-[44px] lg:text-[48px] font-semibold p-6">Minha Conta</h1>
    </header>
</div>

        <!-- Modal branco -->
        <div class="lg:ml-[250px] px-4 sm:px-8 lg:px-16 pb-8">
            <div class="bg-white shadow-2xl -mt-10 rounded-lg p-8">        

        <!-- Formulário para editar as informações -->
        <form id="form" method="POST" action="{% url 'profile' community.id %}" class="mt-20 sm:mt-24" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- Banner com imagem de fundo -->
            <div id="banner-container" class="relative h-32 sm:h-40 md:h-52 w-full rounded-lg overflow-hidden bg-gray-200" style="background-image: url('{{ image_banner_url }}'); background-size: cover; background-position: center; top: -6rem;">

                <img src="{% if image_banner_url %}{{ image_banner_url }}{% else %}{% static 'assets/retangulo.png' %}{% endif %}" alt="Banner" class="w-full h-full object-cover">

                <label 
                    for="file-upload-banner" 
                    class="absolute bottom-4 right-4 flex items-center justify-center w-10 h-10 sm:w-12 sm:h-12 bg-white rounded-full shadow-lg cursor-pointer"
                    title="Editar imagem do banner">
                    <span class="material-icons text-[#8ABF17] text-lg sm:text-xl">
                        photo_camera
                    </span>
                    <input id="file-upload-banner" type="file" name="banner_image" class="hidden" accept="image/*" />
                    <input type="hidden" name="image_type_banner" value="banner" />
                </label>
            </div> 
            <!-- Foto do perfil e texto -->
            <div class="relative flex items-center flex-wrap">
                <!-- Foto de perfil com a posição ajustada -->
                <div class="absolute left-4 flex items-center" style="top: -10rem;">
                    <div id="profile-container" class="w-24 h-24 sm:w-32 sm:h-32 aspect-square rounded-full bg-[#8ABF17] text-white text-3xl sm:text-4xl font-bold flex items-center justify-center border-4 border-white shadow-lg relative overflow-visible" {% if image_profile_url %}style="background-image: url('{{ image_profile_url }}');{% endif %} background-size: cover; background-position: center;">
                        <!-- Inicialmente exibe a letra do nome -->
                        <span id="profile-initial" {% if image_profile_url %}style="display: none;"{% endif %}>
                            {{ user.first_name|default:"U"|slice:":1"|upper }}
                        </span>
                    
                        <!-- Label para editar a imagem -->
                        <label 
                            for="file-upload-profile" 
                            class="absolute z-10 -right-4 bottom-2 flex items-center justify-center w-8 h-8 sm:w-10 sm:h-10 bg-white rounded-full shadow-md border border-gray-200 cursor-pointer"
                            title="Editar foto de perfil">
                            <span class="material-icons text-[#8ABF17] text-sm sm:text-lg">
                                photo_camera
                            </span>
                        </label>
                    
                        <!-- Input de upload de imagem -->
                        <input id="file-upload-profile" type="file" name="profile_image" class="hidden" accept="image/*" />
                        <input type="hidden" name="image_type_profile" value="profile" />
                    </div>                             
                    <div class="ml-4 sm:ml-6 mt-12">
                        <div class="flex items-center mt-4">
                            <span class="material-icons text-[#8ABF17] text-lg sm:text-xl mr-2">edit</span>
                            <h2 class="text-base sm:text-lg font-bold">Editar perfil</h2>
                        </div>
                        <p class="text-xs sm:text-sm text-gray-600">Carregue sua foto e edite suas informações pessoais</p>
                    </div>
                </div>
            </div>

            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-x-4 gap-y-6">
                <div>
                    <label for="first_name" class="block text-sm font-medium text-gray-700">Nome completo*</label>
                    <input type="text" id="first_name" name="first_name" value="{{ user.first_name }}" 
                        class="mt-1 block w-full border border-[#000000] rounded-md shadow-sm focus:ring-[#8ABF17] focus:border-[#8ABF17] px-4 py-2">
                </div>
                <div>
                    <label for="username" class="block text-sm font-medium text-gray-700">Nome de usuário*</label>
                    <input type="text" id="username" name="username" value="{{ user.username }}" 
                        class="mt-1 block w-full border border-[#000000] rounded-md shadow-sm focus:ring-[#8ABF17] focus:border-[#8ABF17] px-4 py-2">
                </div>
                <div>
                    <label for="email" class="block text-sm font-medium text-gray-700">Email*</label>
                    <input type="email" id="email" name="email" value="{{ user.email }}" 
                        class="mt-1 block w-full border border-[#000000] rounded-md shadow-sm focus:ring-[#8ABF17] focus:border-[#8ABF17] px-4 py-2">
                </div>
                <div>
                    <label for="phone" class="block text-sm font-medium text-gray-700">Telefone</label>
                    <input type="text" id="phone" name="phone" placeholder="+55 (XX) XXXXX-XXXX" 
                        value="{{ user.phone|default:'' }}"
                        class="mt-1 block w-full border border-[#000000] rounded-md shadow-sm focus:ring-[#8ABF17] focus:border-[#8ABF17] px-4 py-2">
                </div>                            
                <div>
                    <label for="state" class="block text-sm font-medium text-gray-700">Estado*</label>
                    <select name="state" id="state" 
                        class="mt-1 block w-full border border-[#000000] rounded-md shadow-sm focus:ring-[#8ABF17] focus:border-[#8ABF17] px-4 py-2">
                        <option value="">Selecione um estado</option>
                        <option value="PE" {% if user.state == "PE" %}selected{% endif %}>Pernambuco</option>
                    </select>
                </div>
                <div>
                    <label for="city" class="block text-sm font-medium text-gray-700">Cidade*</label>
                    <select name="city" id="city" 
                        class="mt-1 block w-full border border-[#000000] rounded-md shadow-sm focus:ring-[#8ABF17] focus:border-[#8ABF17] px-4 py-2">
                        <option value="">Selecione uma cidade</option>
                        <option value="Carpina" {% if user.city == "Carpina" %}selected{% endif %}>Carpina</option>
                    </select>
                </div>
                <div>
                    <label for="password" class="block text-sm font-medium text-gray-700">Nova senha</label>
                    <input type="password" id="password" name="password" 
                        class="mt-1 block w-full border border-[#000000] rounded-md shadow-sm focus:ring-[#8ABF17] focus:border-[#8ABF17] px-4 py-2">
                </div>
                <div>
                    <label for="confirm_password" class="block text-sm font-medium text-gray-700">Confirme sua senha</label>
                    <input type="password" id="confirm_password" name="confirm_password" 
                        class="mt-1 block w-full border border-[#000000] rounded-md shadow-sm focus:ring-[#8ABF17] focus:border-[#8ABF17] px-4 py-2">
                </div>
            </div>
            <div class="flex justify-end gap-4 mt-6">
                <!-- Botão "Cancelar" -->
                <a href="{% url 'dashboard' community.id %}" 
                    class="px-4 py-2 bg-white text-[#8ABF17] border-2 border-[#8ABF17] rounded-lg hover:border-[#7aab0f] hover:text-[#7aab0f] w-28 flex items-center justify-center text-center">
                    Cancelar
                </a>
                <!-- Botão "Salvar" -->
                <button type="submit" 
                    class="w-32 px-4 py-2 bg-[#8ABF17] text-white rounded-lg hover:bg-[#7aab0f]">
                    Salvar
                </button>
            </div>     
        </form>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script>
    // Manipulação de imagem de perfil
    const fileInputProfile = document.getElementById('file-upload-profile');
    const profileContainer = document.getElementById('profile-container');
    const profileInitial = document.getElementById('profile-initial');

    fileInputProfile.addEventListener('change', (event) => {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();

            reader.onload = (e) => {
                profileInitial.style.display = 'none';
                profileContainer.style.backgroundImage = `url(${e.target.result})`;
                profileContainer.style.backgroundSize = 'cover';
                profileContainer.style.backgroundPosition = 'center';
            };

            reader.readAsDataURL(file);
        }
    });

    // Manipulação de imagem de banner
    const fileInputBanner = document.getElementById('file-upload-banner');
    const bannerContainer = document.getElementById('banner-container');

    fileInputBanner.addEventListener('change', (event) => {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();

            reader.onload = (e) => {
                // Adiciona a imagem ao fundo do banner
                bannerContainer.style.backgroundImage = `url(${e.target.result})`;
                bannerContainer.style.backgroundSize = 'cover';
                bannerContainer.style.backgroundPosition = 'center';

                // Oculta qualquer imagem padrão
                const imgElement = bannerContainer.querySelector('img');
                if (imgElement) {
                    imgElement.style.display = 'none';
                }
            };

            reader.readAsDataURL(file);
        }
    });
    
</script>
<style>
    @media (min-width: 536px) and (max-width: 639px) {
        .redondo {
            width: 100px;
            height: 100px;
        }
    }

</style>


{% endblock %}
