{% extends 'base.html' %}
{% load static %}

{% block title %}Configurações da Comunidade{% endblock %}

{% block content %}
<div class="min-h-screen bg-[#FAFAFA] flex flex-col lg:flex-row">
    <!-- Conteúdo principal -->
    <div class="flex-1 p-6 lg:p-10 mt-12 lg:mt-[60px]">
        <div class="flex md:flex-row flex-col justify-between mt-4">
            <header class="mb-2">
                <h1 class="text-[44px] lg:text-[48px] lg:ml-[250px] font-semibold mt-2">Configurações</h1>
            </header>
        </div>

        <div class="flex items-center lg:ml-[250px] justify-center mt-4">
            <!-- Formulário -->
            <form id="community-settings-form" method="POST" action="{% url 'settings' community.id %}" class="bg-white shadow-lg rounded-lg p-8 w-full max-w-4xl" enctype="multipart/form-data">
                {% csrf_token %}
                <h2 class="text-2xl font-bold text-[#5F8C1B] mb-6">Configurações da Comunidade</h2>

                <!-- Capa -->
                <div class="flex flex-row items-start space-x-4">
                    <!-- Upload de Foto -->
                    <div 
                        id="community-container" 
                        class="relative w-80 h-42 rounded-lg overflow-hidden bg-gray-200" 
                        style="background-image: url('{{ image_community_url }}'); background-size: cover; height: 168px; width: 320px; background-position: center;">
                        
                        <!-- Exibição da Imagem da Comunidade -->
                        <img 
                            id="community-image" 
                            src="{% if image_community_url %}{{ image_community_url }}{% else %}{% static 'assets/vertcolorido.png' %}{% endif %}" 
                            alt="Community Image" 
                            class="w-full h-full object-cover">
                        
                        <!-- Botão de upload -->
                        <label 
                            for="file-upload-community" 
                            class="absolute bottom-4 right-4 flex items-center justify-center w-10 h-10 sm:w-12 sm:h-12 bg-white rounded-full shadow-lg cursor-pointer"
                            title="Editar imagem da comunidade">
                            <span class="material-icons text-[#8ABF17] text-lg sm:text-xl">photo_camera</span>
                            <input id="file-upload-community" type="file" name="community_image" class="hidden" accept="image/*" />
                            <input type="hidden" name="image_type_community" value="community" />
                        </label>
                    </div>
                    
                    <!-- Cores -->
                    <div class="flex flex-col space-y-1">
                        <!-- Inputs escondidos que serão atualizados ao clicar nas cores -->
                        <div 
                            class="w-12 h-10 rounded-lg bg-[#8B4513] cursor-pointer" 
                            onclick="changeCommunityColor('marrom')">
                            <input id="file-upload-community" type="file" name="community_image" class="hidden"/>
                            <input type="hidden" id="community-image-url" name="community_image_url">
                        
                        </div>

                        <div 
                            class="w-12 h-10 rounded-lg bg-[#FF6F00] cursor-pointer" 
                            onclick="changeCommunityColor('laranja')"></div>
                        <div 
                            class="w-12 h-10 rounded-lg bg-[#5F8C1B] cursor-pointer" 
                            onclick="changeCommunityColor('verde')"></div>
                    </div>
                </div>

                <!-- Nome e Descrição -->
                <div class="mb-6">
                    <label class="block text-lg font-semibold mb-2" for="name">Nome da Comunidade</label>
                    <input type="text" id="name" name="name" class="block w-full border border-black rounded-lg p-2" value="{{ community.name }}" />
                </div>
                <div class="mb-6">
                    <label class="block text-lg font-semibold mb-2" for="description">Descrição da Comunidade</label>
                    <textarea id="description" name="description" class="block w-full border border-black rounded-lg p-2" rows="3">{{ community.description }}</textarea>
                </div>

                <!-- Botões -->
                <div class="flex justify-between mt-6">
                    <!-- Botão Excluir -->
                    <button type="submit" name="action" value="delete" class="bg-[#FF4D4D] text-white px-6 py-2 rounded-lg font-semibold hover:bg-[#cc3c3c]">
                        Excluir
                    </button>
                    
                    <div class="flex space-x-4">
                        <!-- Botão Cancelar -->
                        <button type="button" onclick="document.getElementById('community-settings-form').reset()" class="bg-white text-[#8ABF17] border border-[#8ABF17] px-6 py-2 rounded-lg font-semibold hover:bg-gray-100">
                            Cancelar
                        </button>
                        
                        <!-- Botão Salvar -->
                        <button type="submit" name="action" value="update" class="bg-[#5F8C1B] text-white px-6 py-2 rounded-lg font-semibold hover:bg-[#4a7c13]">
                            Salvar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    // Seletores do DOM 
    const fileInputCommunity = document.getElementById('file-upload-community');
    const communityContainer = document.getElementById('community-container');
    const communityImage = document.getElementById('community-image');

    // Função para lidar com o upload de imagem
    fileInputCommunity.addEventListener('change', (event) => {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();

            reader.onload = (e) => {
                // Define a nova imagem como plano de fundo
                communityContainer.style.backgroundImage = `url(${e.target.result})`;
                communityContainer.style.backgroundSize = 'cover';
                communityContainer.style.backgroundPosition = 'center';

                // Oculta a imagem padrão
                communityImage.style.display = 'none';
                // Garante que o fundo colorido não interfira
                communityContainer.style.backgroundColor = 'transparent';
            };

            reader.readAsDataURL(file);
        }
    });

    function changeCommunityColor(color) {
        // Variáveis para armazenar a URL das imagens
        let imageUrl;
    
        // Definindo as URLs com base na cor escolhida
        if (color == "laranja") {
            imageUrl = '{% static "assets/fundo/laranja.jpg" %}';
        } else if (color == "verde") {
            imageUrl = '{% static "assets/fundo/verde.jpg" %}';
        } else if (color == "marrom") {
            imageUrl = '{% static "assets/fundo/marrom.jpg" %}';
        } else {
            imageUrl = '{% static "assets/fundo/vertcolorido.png" %}'; // Imagem padrão
        }
    
        // Atualiza o input escondido com a nova URL da imagem
        document.getElementById('community-image-url').value = imageUrl;
    
        // Atualiza a imagem exibida na página
        const communityContainer = document.getElementById('community-container');
        communityContainer.style.backgroundImage = `url(${imageUrl})`;
        communityContainer.style.backgroundSize = 'cover';
        communityContainer.style.backgroundPosition = 'center';
    
        // Atualiza o src da imagem da comunidade
        const communityImage = document.getElementById('community-image');
        communityImage.src = imageUrl;
    }
    

    // Restaura a imagem original se o formulário for resetado
    document.getElementById('community-settings-form').addEventListener('reset', () => {
        // Verifica se há uma imagem URL para restaurar
        const imageUrl = '{{ image_community_url }}';
        if (imageUrl) {
            communityContainer.style.backgroundImage = `url(${imageUrl})`;
            communityContainer.style.backgroundSize = 'cover';
            communityContainer.style.backgroundPosition = 'center';

            // Mostra a imagem padrão novamente
            communityImage.style.display = 'block';
        } else {
            // Caso não haja URL, volta ao fundo padrão
            communityContainer.style.backgroundImage = 'none';
            communityContainer.style.backgroundColor = '#FAFAFA';
        }
    });
</script>

{% endblock extra_js %}
