<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload de Imagem</title>
</head>
<body>
    <h1>Upload de Imagem</h1>
    <form action="{% url 'image_upload' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="title">Título:</label>
        <input type="text" id="title" name="title"><br><br>

        <label for="image">Imagem:</label>
        <input type="file" id="image" name="image"><br><br>

        <button type="submit">Enviar</button>
    </form>

    {% if image_url %}
    <h2>Imagem enviada:</h2>
    <img src="..{{ image_url }}" alt="Imagem enviada" style="max-width: 400px; max-height: 400px;">
    {% endif %}
</body>
</html>
