{% load static %}
<div class="w-full h-auto bg-white drop-shadow-xl flex flex-col justify-between rounded-[14px] border p-6">
    {% if weather_data.error %}
        <p class="text-red-500">{{ weather_data.error }}</p>
    {% else %}
        <div class="flex justify-between items-center">
            <div id="seedbed-dropdown" class="bg-[#8ABF17] rounded-[14px] px-2 py-[4px] text-white flex items-center cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" class="mr-1" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-map-pin"><path d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0"/><circle cx="12" cy="10" r="3"/></svg>
                <p class="text-white text-[16px] font-medium">{{ user.city }}</p>
            </div>
            <p class="font-bold text-[32px]">
                {% if day_of_week == 0 %}
                    Segunda
                {% elif day_of_week == 1 %}
                    Terça
                {% elif day_of_week == 2 %}
                    Quarta
                {% elif day_of_week == 3 %}
                    Quinta
                {% elif day_of_week == 4 %}
                    Sexta
                {% elif day_of_week == 5 %}
                    Sábado
                {% elif day_of_week == 6 %}
                    Domingo
                {% else %}
                    Dia inválido
                {% endif %}
            </p>
            <p class=" text-sm">{{ now|date:"d M, H:i" }}</p>
        </div>
        <div class="flex items-center justify-between mt-4 -mb-4">
            <!-- Primeira div (Ícone do tempo) -->
            <div class="flex items-center">
                <p class="font-bold text-[22px]">
                    {% if weather_data.icon == "01d" %}
                        <img src="{% static 'assets/icons/weathericons/day_partial_cloud.png' %}" alt="Sol" class="w-[210px]" />
                    {% elif weather_data.icon == "01n" %}
                        <img src="{% static 'assets/icons/weathericons/night_full_moon_partial_cloud.png' %}" alt="Lua" class="w-[210px]" />
                    {% elif weather_data.icon == "03d" %}
                        <img src="{% static 'assets/icons/weathericons/partly_cloudy_day.png' %}" alt="Parcialmente nublado" class="w-[210px]" />
                    {% elif weather_data.icon == "04d" %}
                        <img src="{% static 'assets/icons/weathericons/cloudy.png' %}" alt="Nublado" class="w-[210px]" />
                    {% elif weather_data.icon == "10d" %}
                        <img src="{% static 'assets/icons/weathericons/day_rain.png' %}" alt="Chuva" class="w-[210px]" />
                    {% elif weather_data.icon == "11d" %}
                        <img src="{% static 'assets/icons/weathericons/rain_thunder.png' %}" alt="Tempestade" class="w-[210px]" />
                    {% elif weather_data.icon == "50d" %}
                        <img src="{% static 'assets/icons/weathericons/fog.png' %}" alt="Névoa" class="w-[210px]" />
                    {% else %}
                        <img src="{% static 'assets/icons/weathericons/day_partial_cloud.png' %}" alt="Sol" class="w-[210px]" />
                    {% endif %}
                </p>
            </div>
        
            <!-- Segunda div (Temperatura e descrição do tempo) -->
            <div class="flex flex-col items-center">
                <p class="font-semibold texto-temperatura text-[85px] flex -mt-12">{{ weather_data.temperature }}°C</p>
                <p class="text-lg -mt-4">
                    {% if weather_data.icon == "01d" %}
                        Céu limpo
                    {% elif weather_data.icon == "01n" %}
                        Céu limpo
                    {% elif weather_data.icon == "03d" %}
                        Parcialmente nublado
                    {% elif weather_data.icon == "04d" %}
                        Nublado
                    {% elif weather_data.icon == "10d" %}
                        Chuva
                    {% elif weather_data.icon == "11d" %}
                        Tempestade
                    {% elif weather_data.icon == "50d" %}
                        Névoa
                    {% else %}
                        Céu limpo
                    {% endif %}
                </p> 
            </div>
        </div>
        
        <!-- Informações Adicionais com ícones -->
        <div class="flex justify-between mt-4 text-gray-700">
            <!-- Umidade -->
            <div class="flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="mr-1" width="19" height="19" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-droplets"><path d="M7 16.3c2.2 0 4-1.83 4-4.05 0-1.16-.57-2.26-1.71-3.19S7.29 6.75 7 5.3c-.29 1.45-1.14 2.84-2.29 3.76S3 11.1 3 12.25c0 2.22 1.8 4.05 4 4.05z"/><path d="M12.56 6.6A10.97 10.97 0 0 0 14 3.02c.5 2.5 2 4.9 4 6.5s3 3.5 3 5.5a6.98 6.98 0 0 1-11.91 4.97"/></svg>
                <p>{{ weather_data.humidity }}%</p>
            </div>
            
            <!-- Vento -->
            <div class="flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="mr-1" width="19" height="19" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-wind"><path d="M12.8 19.6A2 2 0 1 0 14 16H2"/><path d="M17.5 8a2.5 2.5 0 1 1 2 4H2"/><path d="M9.8 4.4A2 2 0 1 1 11 8H2"/></svg>
                <p>{{ weather_data.wind_speed }} km/h</p>
            </div>
            
            <!-- Sensação Térmica -->
            <div class="flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="mr-1" width="19" height="19" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-sunrise"><path d="M12 2v8"/><path d="m4.93 10.93 1.41 1.41"/><path d="M2 18h2"/><path d="M20 18h2"/><path d="m19.07 10.93-1.41 1.41"/><path d="M22 22H2"/><path d="m8 6 4-4 4 4"/><path d="M16 18a4 4 0 0 0-8 0"/></svg>
                <p>{{ weather_data.feels_like }}°C</p>
            </div>
        </div>
        
    {% endif %}
</div>