<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Cultivo</title>
</head>
<style>
    body {
        font-family: 'Poppins', sans-serif !important;
    }
    .button {
        display: inline-block;
        padding: 10px 20px;
        margin: 10px;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        color: #fff;
        background-color: #007BFF;
        transition: background-color 0.3s;
    }
    .button:hover {
        background-color: #0056b3;
    }
</style>
<body>
    <div class="container">
        <h1>Cadastrar cultivo</h1>
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        
        <form method="POST">
            {% csrf_token %}
            <label for="nome">Nome do Cultivo:</label>
            <input type="text" id="nome" name="nome" required>
        
            {% if error %}
                <p style="color: red;">{{ error }}</p>
            {% endif %}
            <button type="submit" class="button" style='background-color: green; color: white;'>
                <i class="fas fa-trash"></i> Cadastrar
            </button>
        </form>
    </div>
</body>
</html>
