{% extends 'base.html' %}

{% block content %}
    <h1>Produtos do Seedbed: {{ seedbed.nome }}</h1>  <!-- Exibe o nome do seedbed -->

    <ul>
        {% for product in object_list %}
            <li>{{ product.nome }}</li>  <!-- Exibe o nome de cada produto filtrado -->
        {% empty %}
            <p>Não há produtos cadastrados neste seedbed.</p>  <!-- Caso não haja produtos -->
        {% endfor %}
    </ul>
    <a href="/products/create" class="btn btn-primary">Criar Novo Produto</a>
{% endblock %}
