asgiref==3.8.1
Django==5.1.1
sqlparse==0.5.1
tzdata==2024.2
python-dotenv
psycopg2-binary
python-dateutil
gunicorn
whitenoise
selenium
google-generativeai
Pillow
django-storages[azure]~=1.14.2
azure-storage-blob~=12.18.0