{% extends "base.html" %}
{% load static %}
{% block title %}{{ area.name }}{% endblock %}

{% block content %}
<!-- Navbar -->
<nav class="bg-white border-b-[1px] h-[90px] border-[#8ABF17] flex justify-between items-center px-8 py-4 fixed top-0 left-0 w-full z-10 lg:flex xl:flex 2xl:flex sm:hidden md:hidden hidden-sm">
    <div class="border-r-[1px] border-[#8ABF17] w-[218px] h-[90px] fixed "></div>
    <div class="flex items-center">
        <a href="/" class="flex items-center mr-20 z-20 cursor-pointer">
            <img src="{% static 'assets/colorido-horizontal.png' %}" alt="AGRAS" class="w-[160px] mr-4">
        </a>
        <div class="relative"> 
          <input type="text" placeholder="Pesquisar..." class="rounded-[8px] bg-[#F5F5F7] shadow-sm py-2 px-4 pl-10 focus:outline-none">
          <span class="absolute left-3 top-1/2 transform -translate-y-1/2 w-5 h-5 material-icons text-[#8ABF17]">search</span>
        </div>
    </div>
    <div class="flex items-center">
        <div class="relative mr-6 flex items-center cursor-pointer">  
            <span class="material-icons text-[25px]">notifications_none</span>
            <span class="absolute top-[30%] -right-1 transform -translate-y-1/2 bg-red-500 text-white text-xs rounded-full px-1">3</span> 
        </div>
        <div class="flex items-center cursor-pointer z-20"> 
            <img src="{% static 'assets/icons/profile.png' %}" alt="Foto de Perfil" class="w-8 h-8 rounded-full mr-2">
            <div class="flex flex-col">
                <span class="text-sm font-medium">{{ user.username }}</span> 
                <span class="text-xs text-gray-500">{{ user.email }}</span> 
            </div>
        </div>
    </div>
</nav> 

    <!-- Mobile Navbar -->
    <nav class="bg-white border-b-[1px] border-[#8ABF17] h-[60px] flex justify-between items-center px-4 py-2 fixed top-0 left-0 w-full z-20 lg:hidden xl:hidden 2xl:hidden sm:flex md:flex">
        <button id="mobile-menu-button" class="text-[#8ABF17] focus:outline-none">
            <span class="material-icons">menu</span>
        </button>
        <a href="/" class="flex items-center">
            <img src="{% static 'assets/colorido-horizontal.png' %}" alt="AGRAS" class="w-[100px]">
        </a>
        <div class="flex items-center">
            <div class="relative mr-2 flex items-center cursor-pointer">  
                <span class="material-icons text-[20px]">notifications_none</span>
                <span class="absolute top-[25%] -right-1 transform -translate-y-1/2 bg-red-500 text-white text-xs rounded-full px-1">3</span> 
            </div>
            <img src="{% static 'assets/icons/profile.png' %}" alt="Foto de Perfil" class="w-6 h-6 rounded-full">
        </div>
    </nav>

<!-- Sidebar -->
<div class="bg-white top-[90px] border-r-[1px] border-[#8ABF17] w-[250px] min-h-screen lg:flex xl:flex 2xl:flex sm:hidden md:hidden hidden-sm flex-col items-center w-[250px] fixed">
    <div class="flex flex-col gap-y-8 mt-12 w-full px-8 flex-grow">
        <a href="{% url 'community_hub' %}" class="text-[14px] font-normal text-black flex items-center cursor-pointer">
            <span class="w-[23px] material-icons-outlined mr-2" alt="comunidar-2">group</span> Comunidades
        </a>
        <a href="{% url 'dashboard' community.id %}" class="text-[14px] font-normal text-black flex items-center cursor-pointer">
            <span class="w-[23px] material-icons mr-2" alt="dashboar2">dashboard</span> Dashboard
        </a>
        <a href="{% url 'area_manage' community.id %}" class="text-[14px] font-normal text-[#8ABF17] flex items-center cursor-pointer">
            <span class="material-icons-outlined mr-2">forest</span> Areas de Plantio </a>
        <a href="{% url 'manage_community' community.id %}" class="text-[14px] font-normal text-black flex items-center cursor-pointer">
            <span class="w-[23px] mr-2 material-icons" alt="gerenciamento">equalizer</span> Gerenciamento
        </a>
        <a href="" class="text-[14px] font-normal text-black flex items-center cursor-pointer">
            <span class="w-[23px] mr-2 material-icons-outlined" alt="tarefas">task_alt</span> Tarefas
        </a>
        <form action="{% url 'logout' %}" method="POST" class="w-full mb-12">
            {% csrf_token %}
            <button class="mt-64 text-[14px] font-normal text-black flex items-center cursor-pointer w-full">
                <span class="w-[23px] mr-2 material-icons-outlined">logout</span>Sair
            </button>
        </form>
    </div>
</div>

<!-- Mobile Sidebar (Hidden by default) -->
<div id="mobile-menu" class="bg-white fixed top-0 left-0 h-full w-64 shadow-lg z-30 transform -translate-x-full transition-transform duration-300 ease-in-out lg:hidden">
    <div class="p-[14.3px] border-b border-[#8ABF17] flex justify-between items-center">
        <p class="flex ml-4 w-full">Menu Lateral</p>
        <button id="mobile-menu-close-button" class="text-[#8ABF17] focus:outline-none ml-auto">
            <span class="material-icons">close</span>
        </button>
    </div>
    <div class="flex flex-col gap-y-8 mt-12 w-full px-8 flex-grow">
        <a href="{% url 'community_hub' %}" class="text-[14px] font-normal text-black flex items-center cursor-pointer">
            <span class="w-[23px] material-icons-outlined mr-2" alt="comunidar-2">group</span> Comunidades
        </a>
        <a href="" class="text-[14px] font-normal text-black flex items-center cursor-pointer">
            <span class="w-[23px] material-icons mr-2" alt="dashboar2">dashboard</span> Dashboard
        </a>
        <a href="{% url 'area_manage' community.id %}" class="text-[14px] font-normal text-[#8ABF17] flex items-center cursor-pointer">
            <span class="material-icons-outlined mr-2">forest</span> Areas de Plantio </a>
        <a href="{% url 'manage_community' community.id %}" class="text-[14px] font-normal text-black flex items-center cursor-pointer">
            <span class="w-[23px] mr-2 material-icons" alt="gerenciamento">equalizer</span> Gerenciamento
        </a>
        <a href="" class="text-[14px] font-normal text-black flex items-center cursor-pointer">
            <span class="w-[23px] mr-2 material-icons-outlined" alt="tarefas">task_alt</span> Tarefas
        </a>
        <form action="{% url 'logout' %}" method="POST" class="w-full mb-12">
            {% csrf_token %}
            <button class="mt-48 text-[14px] font-normal text-black flex items-center cursor-pointer w-full">
                <span class="w-[23px] mr-2 material-icons-outlined">logout</span>Sair
            </button>
        </form>
    </div>
</div>

<!-- Main content -->
<div class="flex-1 p-6 lg:p-10 ml:0 lg:ml-[250px] mt-12 lg:mt-[60px]">
    <div class="flex items-center justify-between">
        <div class="">
            <h1 class="mb-4 text-xl font-semibold">
                <a href="{% url 'dashboard' community.id %}" class="text-[#8ABF17] hover:underline">Dashboard &gt;</a>
                <a href="{% url 'area_manage' community.id %}" class="text-[#8ABF17] hover:underline">Áreas de plantio &gt;</a>
            </h1>
        </div>
    </div>

    {% if area.seedbeds.all %}
    <div class="items-center">
        <h2 class=" text-4xl font-bold mb-6">Canteiros de {{ area.name }}</h2>
        <button id="addCommunityBtn" class="bg-[#8ABF17] text-white px-6 py-3 rounded-[9px] mb-6 hover:bg-[#7cad10] hover:text-[#edf0e9]" onclick="toggleModal('create')">
            Criar Canteiro
        </button>

    </div>
    {% endif %}
        
    <div class="container mt-5">
        <!-- Modal para criar canteiro -->
        <div id="areaModal" class="fixed inset-0 bg-black bg-opacity-50 hidden flex justify-center items-center z-10">
            <div class="bg-white px-14 py-12 rounded-[34px] w-[90%] sm:w-[80%] md:w-[70%] lg:w-[60%] xl:w-[50%] max-w-[596px] max-h-[663px] overflow-y-auto rounded-[32px]">
                <h2 id="modalTitle" class="text-[24px] font-bold mb-4 text-[#8ABF17]">Novo canteiro</h2>
                <p class="font-medium text-[16px]">Preencha a informação abaixo para criar um novo canteiro</p>
                <form id="areaForm" method="post" action="{% url 'create_seedbed' community.id area.id %}">
                    {% csrf_token %}
                    <div class="mb-4 mt-6">
                        <label for="name" class="block text-sm font-medium text-gray-700">Nome*</label>
                        <input type="text" name="seedbed_name" id="seedbed_name" required class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-[#8ABF17] focus:border-[#8ABF17] h-[55px] py-2 px-3">
                    </div>
                    <div class="flex justify-end">
                        <button type="button" class="mr-2 bg-white border-2 border-[#8ABF17] hover:border-[#7aab0f] text-[#8ABF17] hover:text-[#7aab0f] font-bold px-6 py-3 rounded-[9px] w-full" onclick="toggleModal('close')">Cancelar</button>
                        <button type="submit" class="mr-2 bg-[#8ABF17] text-white font-bold px-6 py-3 hover:bg-[#7aab0f] text-[#f3f7f0] rounded-[9px] w-full">Criar</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mt-4">
            {% for seedbed in area.seedbeds.all %}
            <div class="bg-white border border-gray-300 rounded-[12px] shadow-sm flex flex-col justify-between">
                <div class="flex-grow">
                    <img src="{% static 'assets/seedbed.jpg' %}" alt="Área de plantio" class="w-full h-auto rounded-t-[12px]">
                    <div class="p-4">
                        <div class="flex justify-between mb-4">
                            <h3 class="text-2xl font-semibold">
                                <a href="{% url 'seedbed_detail' community.id area.pk seedbed.id %}" class="text-[#8ABF17] hover:underline">{{ seedbed.nome }}</a>
                            </h3>
                            <div class="relative-wrapper relative"> {% if is_admin_of_community %}
                                <span class="material-icons cursor-pointer" onclick="toggleManageModal('manage', {{seedbed.id}})">more_vert</span>
                                <!-- Modal de manage -->
                                <div id="manageModal-{{ seedbed.id }}" class="hidden absolute top-8 right-0 bg-white border border-gray-300 shadow-lg px-4 py-2 rounded-lg z-10 w-auto">
                                    <button onclick="toggleManageModal('close-manage', {{ seedbed.id }})" class="absolute top-2 right-2 text-[#F76711] material-icons-outlined">close</button>
                                    <div class="flex flex-row items-center gap-x-2"> 
                                        <button onclick="openEditModal({{ seedbed.id }})" class="bg-yellow-500 text-white p-1 rounded-full hover:bg-yellow-600 focus:outline-none focus:ring-2 focus:ring-yellow-400 flex">
                                            <span class="material-icons-outlined">edit</span>
                                        </button>
                                        <button onclick="openDeleteModal({{ seedbed.id }})" class="bg-red-500 mr-5 text-white p-1 rounded-full hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-400 flex">
                                            <span class="material-icons-outlined">delete</span>
                                        </button>
                                    </div>
                                </div>
                                <!-- Modal de edição -->
                                <div id="editModal-{{ seedbed.id }}" class="hidden fixed inset-0 bg-gray-500 bg-opacity-75 flex items-center justify-center z-50">
                                    <div class="bg-white px-14 py-12 rounded-[34px] w-[90%] sm:w-[80%] md:w-[70%] lg:w-[60%] xl:w-[50%] max-w-[596px] max-h-[663px] overflow-y-auto rounded-[32px]">
                                        <h2 id="modalTitle" class="text-[24px] font-bold mb-4 text-[#8ABF17]">Editar canteiro</h2>
                                        <p class="font-medium text-[16px]">Altere as informações abaixo para editar seu canteiro</p>
                                        <form method="POST" action="{% url 'update_seedbed' community.id area.id seedbed.id %}">
                                            {% csrf_token %}
                                            <div class="mb-4 mt-6">
                                                <label for="name" class="block text-sm font-medium text-gray-700">Nome*</label>
                                                <input type="text" name="nome" id="nome" value="{{ seedbed.nome }}" required class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-[#8ABF17] focus:border-[#8ABF17] h-[55px] py-2 px-3">
                                            </div>
                                            <div class="flex justify-end">
                                                <button type="button" onclick="closeEditModal({{ seedbed.id }})" class="mr-2 bg-white border-2 border-[#8ABF17] hover:border-[#7aab0f] text-[#8ABF17] hover:text-[#7aab0f] font-bold px-6 py-3 rounded-[9px] w-full">Cancelar</button>
                                                <button type="submit" class="mr-2 bg-[#8ABF17] text-white font-bold px-6 py-3 rounded-[9px] hover:bg-[#7aab0f] text-[#f3f7f0] w-full">Salvar Alterações</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
    
                                <!-- Modal de deleção -->
                                <div id="deleteModal-{{ seedbed.id }}" class="hidden fixed inset-0 bg-gray-500 bg-opacity-75 flex items-center justify-center z-50">
                                    <div class="bg-white px-14 py-12 rounded-[34px] w-full max-w-lg">
                                        <h3 class="text-xl font-bold mb-4 text-red-600">Excluir Canteiro</h3>
                                        <p class="text-gray-700 mb-6">Tem certeza de que deseja excluir canteiro "{{ seedbed.nome }}"? Esta ação não pode ser desfeita.</p>
                                        <form method="POST" action="{% url 'delete_seedbed' community.id area.id seedbed.id %}">
                                            {% csrf_token %}
                                            <div class="flex flex-row justify-between">
                                                <button type="submit" class="mr-2 bg-red-500 text-white px-4 py-2 rounded-lg hover:bg-red-600 w-full font-bold">Excluir</button>
                                                <button type="button" onclick="closeDeleteModal({{ seedbed.id }})" class="bg-white border-2 border-[#8ABF17] hover:border-[#7aab0f] text-[#8ABF17] hover:text-[#7aab0f] font-bold px-6 py-3 rounded-[9px] w-full">Cancelar</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            {% endif %}
                            </div>   
                        </div>
    
                        <!-- Listando os cultivos associados ao canteiro -->
                        <div class="mt-2">
                            <button class="w-full text-left bg-[#f7f7f7] p-3 rounded-[9px] text-sm lg:text-base font-medium border-2 border-[#8ABF17] focus:outline-none flex justify-between items-center transition-all transform hover:shadow-lg" onclick="toggleDropdown('seedbed-list-{{ seedbed.id }}')">
                                Mostrar Cultivos
                                <span id="arrow-{{ seedbed.id }}" class="transition-transform transform rotate-0 material-icons">arrow_drop_down</span>
                            </button>
                            <ul id="seedbed-list-{{ seedbed.id }}" class="list-disc list-inside mt-4 hidden">
                                {% for product in seedbed.products_in_seedbed.all %}
                                    <li>{{ product.type_product.name }}</li>
                                {% empty %}
                                    <p class="flex justify-center items-center">Nenhum cultivo cadastrado</p>
                                {% endfor %}
                            </ul>
                            <!-- Botão fixo ao fim do card -->
                            <div class="flex mt-5 justify-center">
                                <a href="{% url 'seedbed_detail' community.id area.pk seedbed.id %}" class="inline-block bg-[#8ABF17] text-white py-2 px-4 rounded-md hover:bg-[#7cad10] font-bold focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2 w-2/4 text-center w-full">
                                    Visualizar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
            {% empty %}
            <div class="text-center col-span-full mt-[15vh]">
                <div class="flex flex-col items-center justify-center">
                    <img src="{% static 'assets/Ativo 324.png' %}" alt="Plantas" class="w-64 mb-4">
                    <h1 class="font-bold text-[24px]">Nenhum canteiro criado em {{area.name}}</h1>
                    <p class="font-normal text-[16px]">Clique no botão abaixo para criar canteiros e visualizá-los</p>
                    <button id="addCommunityBtn" class="mt-4 bg-[#8ABF17] text-white px-6 py-3 rounded-[9px] mb-6 hover:bg-[#7cad10] hover:text-[#edf0e9]" onclick="toggleModal('create')">
                        Criar Canteiro
                    </button>
                </div>
            </div> 
            {% endfor %}
        </div>
    </div>
</div>


<script>

function toggleModal(action, seedbedId) {
    const areaModal = document.getElementById('areaModal'); 
    const manageModal = document.getElementById(`manageModal-${seedbedId}`);

    if (action === 'create') {
        areaModal.classList.remove('hidden'); // Mostra o modal de criar área
        document.getElementById('areaForm').reset(); // Limpa o formulário (opcional)
    }
    else if (action === 'close') {
        areaModal.classList.add('hidden'); // Esconde o modal de criar área
    } 
}

function toggleManageModal(action, seedbedId) {
    const manageModal = document.getElementById(`manageModal-${seedbedId}`);

    if (action === 'manage') {
        manageModal.classList.remove('hidden');
    } else if (action === 'close-manage') {
        manageModal.classList.add('hidden'); 
    }
}

function openEditModal(seedbedId) {
    document.getElementById(`editModal-${seedbedId}`).classList.remove('hidden');
}

function closeEditModal(seedbedId) {
    document.getElementById(`editModal-${seedbedId}`).classList.add('hidden');
}

function openDeleteModal(seedbedId) {
    document.getElementById(`deleteModal-${seedbedId}`).classList.remove('hidden');
}

function closeDeleteModal(seedbedId) {
    document.getElementById(`deleteModal-${seedbedId}`).classList.add('hidden');
}

function toggleDropdown(id) {
        const dropdown = document.getElementById(id);
        const arrow = document.getElementById('arrow-' + id.split('-')[2]);

        dropdown.classList.toggle('hidden');
        // Alterar a rotação da seta dependendo da visibilidade do dropdown
        if (dropdown.classList.contains('hidden')) {
            arrow.classList.remove('rotate-180');
        } else {
            arrow.classList.add('rotate-180');
        }
    }

const mobileMenuButton = document.getElementById('mobile-menu-button');
const mobileMenu = document.getElementById('mobile-menu');
const mobileMenuCloseButton = document.getElementById('mobile-menu-close-button');

    mobileMenuButton.addEventListener('click', () => {
        mobileMenu.classList.remove('-translate-x-full');

    });

    mobileMenuCloseButton.addEventListener('click', () => {
        mobileMenu.classList.add('-translate-x-full');

    });
</script>
{% endblock content %}