{% extends "base.html" %}

{% block content %}
<div class="flex justify-center items-center min-h-screen bg-gray-10">
    <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md">
        <h2 class="text-2xl font-bold mb-6 text-gray-800 text-center">Deletar Área</h2>
        <p class="text-center mb-6">Você tem certeza que deseja deletar a área <strong>{{ area.name }}</strong>?</p>

        <form method="POST">
            {% csrf_token %}
            <div class="flex justify-center space-x-4">
                <a href="{% url 'areas:area_manage' area.community.id %}" class="px-6 py-2 border border-gray-300 text-sm font-medium rounded-md shadow-sm text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 transition duration-150 ease-in-out">
                    Cancelar
                </a>
                <button type="submit" class="px-6 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 transition duration-150 ease-in-out">
                    Deletar
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
