{% extends "base.html" %}

{% load static %}
{% block content %}
<h2>Editar Área de Plantio</h2>
<form method="post">
    {% csrf_token %}
    
    <label for="name">Nome:</label>
    <input type="text" name="name" value="{{ area.name }}" required><br>

    <label for="description">Descrição:</label>
    <textarea name="description" required>{{ area.description }}</textarea><br>

    <button type="submit">Salvar</button>
</form>
<a href="{% url 'area_manage'  area.community.id %}">Voltar para a lista</a>
{% endblock %}