{% extends "base.html" %}

{% load static %}
{% block content %}
<h2>Criar Nova Área em {{ community.name }}</h2>
<form method="POST">
    {% csrf_token %}
    <div>
        <label for="name">Nome:</label>
        <input type="text" name="name" id="name" required>
    </div>
    <div>
        <label for="description">Descrição:</label>
        <textarea name="description" id="description" required></textarea>
    </div>
    <button type="submit">Criar Área</button>
</form>
<a href="{% url 'area_manage' community.id %}">Voltar para a lista</a>
{% endblock %}