{% extends "base.html" %}

{% block content %}
<div class="container mx-auto mt-5">
    <h2 class="text-lg font-bold">Deletar Área</h2>
    <p>Você tem certeza que deseja deletar a área <strong>{{ area.name }}</strong>?</p>

    <form method="POST">
        {% csrf_token %}
        <div class="mt-4">
            <a href="{% url 'areas:area_manage' area.community.id %}" class="inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md shadow-sm text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 transition duration-150 ease-in-out">
                Cancelar
            </a>
            <button type="submit" class="ml-2 inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 transition duration-150 ease-in-out">
                Deletar
            </button>
        </div>
    </form>
</div>
{% endblock %}
