{% extends "base.html" %}
{% load static %}
{% block title %}Áreas{% endblock %}

{% block content %}
<div class="min-h-screen bg-white">
    <!-- Container -->
    <div class="px-4 md:px-8 py-10 mx-auto flex flex-col lg:flex-row gap-x-8">
        
        <!-- Sidebar -->
        <div class="bg-[#8ABF17] flex flex-col items-center rounded-[20px] w-full lg:w-[220px] h-auto lg:h-[850px] mb-8 lg:mb-0">
            <a href="/"><img class="w-[146px] mt-12 mb-8" src="{% static 'assets/logo-branco-h.png' %}" alt="AGRAS"> </a>    
            <div class="flex flex-col gap-y-6 mt-12 w-full px-4 flex-grow">
                <a href="{% url 'dashboard' community.id %}" class="text-[14px] font-normal text-white flex items-center cursor-pointer"><span class="material-icons mr-2">dashboard</span> Dashboard</a>
                <a href="" class="text-[14px] font-normal text-white flex items-center cursor-pointer"><span class="material-icons mr-2">equalizer</span> Gerenciamento</a>
                <a href="" class="text-[14px] font-normal text-white flex items-center cursor-pointer"><span class="material-icons mr-2">group</span> Time</a>
                <a href="" class="text-[14px] font-normal text-white flex items-center cursor-pointer"><span class="material-icons mr-2">trending_up</span> Estatísticas</a>
                <a href="" class="text-[14px] font-normal text-white flex items-center cursor-pointer"><span class="material-icons mr-2">settings</span> Configurações</a>
                <div class="flex-grow"></div>
                <form action="{% url 'logout' %}" method="POST" class="w-full px-4 mb-12">
                    {% csrf_token %}
                    <button class="text-[14px] font-normal text-white flex items-center cursor-pointer w-full">
                        <span class="material-icons mr-2">logout</span>Sair
                    </button>
                </form>
            </div>
        </div>
        
        <!-- Main content -->
        <div class="flex-1 p-6 lg:p-10">
            
            <!-- Título e Barra de pesquisa -->
            <div class="flex justify-between items-center">
                <h1 class="mt-1 ml-5 text-xl font-semibold">
                    <a href="{% url 'dashboard' community.id %}" class="text-green-600 hover:underline">Dashboard &gt;</a>
                </h1>
                <!-- Barra de pesquisa e notificação -->
                <div class="flex items-center ml-auto mr-5">
                    <form class="relative flex-shrink-0">
                        <input type="text" placeholder="Buscar áreas..." class="border border-gray-300 rounded-md py-1 px-2 focus:outline-none focus:ring-2 focus:ring-green-500">
                        <button type="submit" class="ml-1 absolute top-1 right-1 text-gray-500">
                            <span class="material-icons">search</span>
                        </button>
                    </form>
                    <a href="#" class="text-gray-700 pl-2 pt-1.5">
                        <span class="material-icons">notifications</span>
                    </a>
                </div>
            </div>

            <div class="mt-3 flex justify-between items-center mb-4">
                <h2 class="ml-5 text-4xl font-bold">Área de Plantio</h2> <!-- Placeholder para ocupar espaço à esquerda -->
                <!-- Botão Criar nova Área -->
                <a href="{% url 'create_area' community.id %}" class="mr-6 bg-green-600 hover:bg-green-700 text-white px-4 py-2 rounded-md">
                    Criar nova Área
                </a>
            </div>
            <br>
            <div class="ml-5 mt-5">    
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mt-4">
                    {% for area in areas %}
                    <div class="bg-white border border-gray-300 rounded-md p-4 shadow-sm">
                        <img src="{% static 'assets/canteiro-foto.jpg' %}" alt="Área de plantio" class="w-full h-auto">

                        <h3 class="text-lg lg:text-xl mt-3 font-semibold">
                            <a href="{% url 'area_detail' community.id area.id %}" class="text-blue-500 hover:underline">{{ area.name }}</a>
                        </h3>
                        <p class="text-sm lg:text-base">{{ area.description }}</p>
                        <div class="mt-2">
                            <a href="{% url 'update_area' community.id area.pk %}" class="text-blue-500 hover:underline">Editar</a> | 
                            <a href="{% url 'delete_area' community.id area.pk %}" class="text-red-500 hover:underline">Deletar</a>
                        </div>

                        <ul class="list-disc list-inside mt-2 text-sm lg:text-base">
                            {% for seedbed in area.seedbeds.all %}
                                <li>
                                    {{ seedbed.nome }}
                                    {% for product in seedbed.products_in_seedbed.all %}
                                        🌱
                                    {% endfor %}
                                </li>
                            {% empty %}
                                <li>Nenhum canteiro cadastrado</li>
                            {% endfor %}
                        </ul>                        
                        <div class="flex mt-5 justify-center">
                            <a href="{% url 'area_detail' community.id area.id %}" class="inline-block bg-green-600 text-white py-2 px-4 rounded-md hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2 w-2/4 text-center">
                               Visualizar
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
