{% extends 'base.html' %} 
{% load static %}  
{% block title %}Criar Produto{% endblock %}

{% block content %}
<body class="font-sans bg-gray-100">
    <div class="container mx-auto p-6">
        <h1 class="text-2xl font-bold mb-4">Adicionar Cultivo no Canteiro {{ seedbed.nome }}</h1>
        
        <form method="post" class="bg-white p-6 rounded-lg shadow-md">
            {% csrf_token %}
            
            <label for="type_name" class="block text-gray-700">Selecione o cultivo:</label>
            <select name="type_name" id="type_name" required class="mt-2 block w-full p-2 border border-gray-300 rounded-md">
                <option value="" disabled selected>Escolha um cultivo</option>
                {% for tipo in tipos_produtos %}
                    <option value="{{ tipo.name }}">{{ tipo.name }}</option>  
                {% endfor %}
            </select>
            <a href="{% url 'product:create_typeproduct' community.id %}" class="button mt-2 inline-block text-blue-500">Criar Novo Cultivo</a>
            <br>

            <label for="quantity" class="block text-gray-700 mt-4">Quantidade:</label>
            <input type="number" name="quantity" id="quantity" required min="1" value="1" class="mt-2 block w-full p-2 border border-gray-300 rounded-md">
            <br>

            <label for="planting_date" class="block text-gray-700 mt-4">Data de plantio:</label>
            <input type="date" id="planting_date" name="planting_date" class="mt-2 block w-full p-2 border border-gray-300 rounded-md" required>
            <br>

            <button type="submit" class="mt-4 bg-green-500 text-white py-2 px-4 rounded-md hover:bg-green-600">
                Adicionar Produto
            </button>
        </form>
    </div>
</body>
{% endblock %}
