<table class="min-w-full bg-white border border-gray-300 rounded-lg shadow-md">
    <thead>
        <tr class="bg-gray-200 text-gray-700">
            <th class="py-2 px-4 text-left border-b">Nome da Task</th>
            <th class="py-2 px-4 text-left border-b">Status</th>
            <th class="py-2 px-4 text-left border-b">Responsáveis</th>
            <th class="py-2 px-4 text-left border-b">Tipo</th>
            <th class="py-2 px-4 text-left border-b">Prazo</th>
            <th class="py-2 px-4 text-left border-b">Prioridade</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr class="border-b hover:bg-gray-50">
            <td class="py-2 px-4">{{ task.title }}</td>
            <td class="py-2 px-4">{{ task.get_status_display }}</td>
            <td class="py-2 px-4">
                {% for user in task.responsible_users.all %}
                    {{ user.first_name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
            <td class="py-2 px-4">{{ task.get_type_display }}</td>
            <td class="py-2 px-4">{{ task.deadline }}</td>
            <td class="py-2 px-4">
                <span class="text-{{ task.priority|lower }}-500">{{ task.get_priority_display }}</span>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6" class="py-4 px-4 text-center text-gray-500">Nenhuma tarefa encontrada</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
