{% extends "base.html" %}
{% load static %}
{% block title %}Confirmar Deleção{% endblock %}
{% block styles %}
    .button {
        display: inline-block;
        padding: 10px 20px;
        margin: 10px;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        color: #fff;
        background-color: #007BFF;
        transition: background-color 0.3s;
    }
    .button:hover {
        background-color: #0056b3;
    }
{% endblock %}
{% block page_classes %}
    bg-gray-300 h-screen p-4
{% endblock %}
{% block content %}
    <h1 class="text-2xl font-bold">Confirmar Deleção</h1>
    <br>
    <p>Você tem certeza de que deseja deletar o canteiro "{{ seedbed.nome }}"?</p>

    <form action="{% url 'delete_seedbed' community.id area.pk seedbed.id %}" method="post" >
        {% csrf_token %}
        <button type="submit" class="button" style='background-color: red; color: white;'>
            <i class="fas fa-trash"></i> Sim, deletar
        </button>
        <a href="{% url 'seedbeds:list_seedbeds' community.id %}" class="button"><i class="fas fa-list"></i>Não, cancelar</a>
    </form>

{% endblock %}
