{% extends "base.html" %}
{% load static %}
{% block title %}Criar Canteiros{% endblock %}

{% block page_classes %}
    bg-gray-300 h-screen p-4
{% endblock %}

{% block content %}
<div class="max-w-xl mx-auto bg-white p-6 shadow-lg rounded-lg mt-10">
    <h1 class="text-2xl font-bold mb-6 text-gray-800">Criar Canteiro</h1>
    
    <form method="post" class="space-y-4">
        {% csrf_token %}
        <div>
            <label for="seedbed_name" class="block text-sm font-medium text-gray-700">Nome do Canteiro:</label>
            <input 
                type="text" 
                id="seedbed_name" 
                name="seedbed_name" 
                required 
                class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:ring-green-500 focus:border-green-500 sm:text-sm"
            >
        </div>
        <div>
            <button 
                type="submit" 
                class="w-full bg-green-600 text-white py-2 px-4 rounded-md hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2"
            >
                Criar Canteiro
            </button>
        </div>
    </form>

    <div class="mt-4">
        <a 
            href="{% url 'seedbed_list' community.id area.id %}" 
            class="text-green-600 hover:text-green-800 underline"
        >
            Voltar para a lista de canteiros
        </a>
    </div>
</div>
{% endblock %}
