{% extends "base.html" %}
{% load static %}
{% block title %}Criar Canteiros{% endblock %}
{% block styles %}
    .button {
        display: inline-block;
        padding: 10px 20px;
        margin: 10px;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        color: #fff;
        background-color: #007BFF;
        transition: background-color 0.3s;
    }
    .button:hover {
        background-color: #0056b3;
    }
{% endblock %}
{% block page_classes %}
    bg-gray-300 h-screen p-4
{% endblock %}
{% block content %}
<h1>Criar Canteiro</h1>

<form method="post">
    {% csrf_token %}
    <div>
        <label for="seedbed_name">Nome do Canteiro:</label>
        <input type="text" id="seedbed_name" name="seedbed_name" required>
    </div>
    <button type="submit">Criar Canteiro</button>
</form>

<a href="{% url 'seedbed_list' community.id area.id %}">Voltar para a lista de canteiros</a>
{% endblock %}
