{% extends "base.html" %} 
{% load static %}

{% block title %}{{ seedbed.nome }}{% endblock %}

{% block styles %}
    .shift-down {
        transform: translateY(90px); /* Altere conforme a distância desejada */
    }

    .bg-green-box{
        background-color: #5F8C1B; /* Cor verde para o fundo */
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra leve */
        margin-left: 260px;
    }
    .brown-box {
        background-color: #8B4513; /* Cor marrom */
        color: #fff; /* Texto branco para contraste */
        padding: 10px; /* Espaçamento interno */
        border-radius: 8px; /* Bordas arredondadas */
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para realce */
        text-align: center; /* Centraliza o conteúdo */
        width: 150px; /* Define uma largura fixa para as caixas */
    }
    .white-box {
        background-color: white;
        border-radius: 5px;
        padding: 8px; /* Ajustado para espaço uniforme */
        display: inline-block; /* Faz com que a caixa se ajuste ao conteúdo */
        max-width: 100%; /* Evita que a caixa exceda o espaço disponível */
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1); /* Adiciona um leve sombreamento */
        word-wrap: break-word; /* Garante que o texto quebre em várias linhas se necessário */
    }
    .button {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        background-color: #007BFF;
        color: white;
        transition: background-color 0.3s;
    }
    .button:hover {
        background-color: #0056b3;
    }
    .dropdown {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-right: 10px;
    }
    .product-info {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
    .coluna {
        flex: 1; /* Cada coluna vai ocupar uma quantidade igual de espaço */
        padding: 10px; /* Um pouco de padding para o conteúdo não colar nas bordas */
        border: 1px solid #ccc; /* Bordas para demarcar as colunas */
    }

    .sub-container {
        display: flex; /* Ativa o Flexbox dentro da subcoluna */
        gap: 20px; /* Espaçamento entre as subcolunas */
        margin-top: 20px; /* Distância para separar a flexbox interna do conteúdo acima */
    }

    .sub-coluna {
        flex: 1; /* As subcolunas vão ocupar uma quantidade igual de espaço */
        border: 1px solid #ccc; /* Bordas para demarcar as subcolunas */
        padding: 10px; /* Padding para as subcolunas */
    }

    #product-select {
        width: 250px; /* Largura fixa ou percentual */
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 10px; /* Espaçamento entre a dropdown e o botão */
    }
    .modal {
        display: none; /* Mantenha como 'none' inicialmente */
        position: fixed; /* Fixa o modal em relação à viewport */
        z-index: 1000; /* Garante que o modal fique sobre outros conteúdos */
        left: 0;
        top: 0;
        width: 100%; /* Largura total da tela */
        height: 100%; /* Altura total da tela */
        overflow: auto; /* Permite rolagem se o conteúdo for maior que a tela */
        background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro com opacidade */
    }
    
    .modal-content {
        background-color: white; /* Cor de fundo do conteúdo do modal */
        margin: 15% auto; /* Centraliza verticalmente */
        padding: 20px; /* Espaçamento interno */
        border: 1px solid #888; /* Borda do modal */
        width: 80%; /* Largura do modal */
        max-width: 600px; /* Largura máxima do modal */
        border-radius: 8px; /* Bordas arredondadas */
    }
    #product-select {
        width: 250px; /* Largura fixa ou percentual */
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    @media (max-width: 768px) {
    .container {
        flex-direction: column; /* Em telas menores, as colunas se empilham */
    }
    .sub-container {
        flex-direction: column; /* As subcolunas também se empilham em telas pequenas */
    }
}

{% endblock %}

{% block page_classes %}
    bg-gray-300 h-screen p-4
{% endblock %}

{% block content %}
<h1 class="mt-1 ml-5 text-xl font-semibold">
    <a href="{% url 'dashboard' community.id %}" class="text-green-600 hover:underline">Dashboard &gt;</a>
    <a href="{% url 'area_manage' community.id %}" class="text-green-600 hover:underline">Áreas &gt;</a>
    <a href="" class="text-green-600 hover:underline">{{ area.name }} &gt;</a>
</h1>
<div class="flex justify-between items-center">
    <h2 class="ml-5 mt-2 text-4xl font-bold">{{ seedbed.nome }}</h2>
</div>

<br>

<div class="container mx-auto mt-5">
    <div class="flex items-center justify-center">
        <div class="text-center flex-1">
            <ul class="flex flex-wrap list-none justify-center">
                {% for product in active_products %}
                    <!-- Cada cultivo agora terá sua própria caixa marrom -->
                    <li class="flex flex-col items-center mr-12 mb-4 brown-box" onclick="moveBox(this)">
                        <a href="?product_id={{ product.id }}">
                            <img src="{% static 'assets/small-plant.png' %}" alt="Área de plantio" class="w-16 h-16 mb-1">
                            <p class="text-lg">{{ product.type_product.name }}</p>
                        </a>
                    </li>                    
                {% empty %}
                    <li>Nenhum cultivo cadastrado</li>
                {% endfor %}
                <!-- Adicionar Cultivo também terá a mesma estrutura, se desejar -->
                <li class="flex flex-col items-center mb-4 mr-12 brown-box">  
                    <a href="{% url 'create_product' community.id area.pk seedbed.id %}">
                        <img src="{% static 'assets/add.png' %}" alt="Adicionar novo cultivo" class="w-16 h-16">
                    </a>
                    <p class="text-lg">Adicionar Cultivo</p>
                </li>
            </ul>
        </div>
    </div>
</div>

<br>
{% if seedbed.products_in_seedbed.all %}
<div class="flex items-center justify-center"> 
    <div class="bg-[#fafafa] p-6 rounded-lg shadow-lg bg-green-box" style="max-width: 1200px; width: 90%; height: 450px; overflow: auto">
        <!-- Detalhes do produto selecionado -->
        {% if selected_product %}
        <div class="product-info mt-6 green-box">
            <div class="coluna mb-4">
                <div class="sub-container">
                    <div class="sub-coluna">
                        <span class="text-lg font-semibold mr-12">Plantados:</span><br>
                        <div class="white-box">
                            <span class="text-lg" id="quantidade">{{ selected_product.quantidade }} unidades</span>
                        </div>
                    </div>
                    <div class="sub-coluna">
                        <span class="text-lg font-semibold mr-12">Data de plantio:</span><br>
                        <div class="white-box">
                            <span class="text-lg" id="planting-date">{{ formatted_date }}</span>
                        </div>
                    </div>
                </div>
                <span class="text-lg font-semibold mr-12">Histórico de colheitas:</span><br>
                <ul>
                    <div class="white-box">
                        {% for product in selected_product.type_product.products.all %}
                            <li>{{ product.data_colheita }}: {{ product.quantidade_colhida }} unidades colhidas</li>
                        {% empty %}
                            <li>Sem registros de colheita.</li>
                        {% endfor %}
                    </div>
                </ul>
                <div class="sub-container">
                    <div class="sub-coluna">
                        <span class="text-lg font-semibold mr-12">Colheitas total:</span><br>
                        <div class="white-box">
                            <span class="text-lg" id="total-quantity">{{ total_quantidade_colhida_produto }} unidades</span>
                        </div>
                    </div>
                    <div class="sub-coluna">
                        <span class="text-lg font-semibold mr-12">Ciclo de Vida:</span><br>
                        <div class="white-box">
                            <span class="text-lg" id="life-cycle">{{ ciclo_de_vida }} meses</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="coluna">
                <span class="text-lg font-semibold mr-12">Tarefas:</span>
                <div id="to-do-list">
                    <ul class="list-disc ml-5">
                        {% if next_actions_dates %}
                            {% for action, date in next_actions_dates.items %}
                                <li>{{ action }} - Próxima atividade: {{ date|date:"d \d\e F \d\e Y" }}</li>
                            {% endfor %}
                        {% else %}
                            <li>Sem atividades programadas.</li>
                        {% endif %}
                    </ul>
                </div>
            </div>    
            <div class="coluna">
                <span class="text-lg" id="harvest-estimate">Previsão de colheita: </span>
                    {% if estimativa_colheita %}
                        {{ estimativa_colheita }}
                    {% else %}
                        Data de colheita indisponível
                    {% endif %}
                </span>
                <br>
                <span class="text-lg font-semibold mr-2">Comentários: </span>
                <br>
                    <div class="white-box">
                        <span class="ml-1 text-base" id="comments">Adicione aqui observações sobre o cultivo...</span>
                    </div>
                <br>
                <form id="delete-product-form" method="POST" action="{% url 'product_delete' community.id area.id seedbed.id selected_product.id %}" style="display:none;">
                    {% csrf_token %}
                </form>
                <button type="button" class="mt-5 m-2 bg-[#F77711] p-7 text-white py-2 rounded hover:bg-[#F76711] transition duration-200" onclick="openModal()">
                    Excluir
                </button>
                <button type="button" class="mt-5 m-2 bg-[#562A00] p-7 text-white py-2 rounded hover:bg-[#401F00] transition duration-200" onclick="openEditModal()">
                    Editar
                </button>
                <button type="button" class="mt-5 m-2 bg-[#F77711] p-7 text-white py-2 rounded hover:bg-[#F76711] transition duration-200" onclick="openHarvestModal()">
                    Colher
                </button>                
            </div>
        </div>

        {% endif %}
    
        <!-- Modal de Confirmação de Exclusão -->
        <div id="deleteModal" class="modal">
            <div class="modal-content">
                <span class="close cursor-pointer" onclick="closeModal()">&times;</span>
                <h1 class="mt-2 font-bold">Tem certeza que deseja excluir o cultivo "{{ selected_product.type_product.name }}"?</h1>
                <p class="mt-2">Essa ação não pode ser desfeita.</p>
                <br>
                <button class="bg-red-600 text-white py-2 px-4 rounded hover:bg-red-700 transition duration-200" onclick="document.getElementById('delete-product-form').submit();">Excluir</button>
                <button class="bg-gray-300 text-black py-2 px-4 rounded hover:bg-gray-400 transition duration-200" onclick="closeModal()">Cancelar</button>
            </div>
        </div>
        <!-- Modal de Edição -->
        <div id="editModal" class="modal">
            <div class="modal-content">
                <span class="close cursor-pointer" onclick="closeEditModal()">&times;</span>
                <h1 class="mt-2 font-bold">Editar Cultivo "{{ selected_product.type_product.name }}"</h1>

               <!-- Formulário de Edição -->
               {% if selected_product %}
                    <form id="edit-product-form" method="POST" action="{% url 'product_update' community.id area.id seedbed.id selected_product.id %}">
                        {% csrf_token %}
                {% endif %}
                    
                    <!-- Campo para editar quantidade -->
                    <div class="mt-4">
                        <label for="edit-quantidade" class="block font-semibold">Quantidade:</label>
                        <input type="number" id="edit-quantidade" name="quantidade" class="w-full border border-gray-300 p-2 rounded" 
                            value="{{ selected_product.quantidade }}" required>
                    </div>

                    <div class="mt-4">
                        <label for="data_plantio" class="block font-semibold">Data de plantio:</label>
                        <input type="date" id="data_plantio" name="data_plantio" class="w-full border border-gray-300 p-2 rounded" 
                            value="{{ selected_product.data_plantio }}" required>
                    </div>
                    

                    <!-- Botões de ação -->
                    <div class="mt-6 flex justify-end">
                        <button type="button" class="bg-gray-300 text-black py-2 px-4 rounded hover:bg-gray-400 transition duration-200 mr-2" onclick="closeEditModal()">Cancelar</button>
                        <button type="submit" class="bg-[#8ABF17] text-white py-2 px-4 rounded hover:bg-[#5F8C1B] transition duration-200">Salvar Alterações</button>
                    </div>
                </form>

            </div>
        </div>
        <div id="harvestModal" class="modal">
            <div class="modal-content">
                <span class="close cursor-pointer" onclick="closeHarvestModal()">&times;</span>
                <h1 class="mt-2 font-bold">Colher "{{ selected_product.type_product.name }}"</h1>
        
                <!-- Formulário de Colheita -->
                <form id="harvest-product-form" method="POST" action="{% url 'seedbed_detail' community.id area.id seedbed.id %}">
                    {% csrf_token %}
                    
                    <!-- Campo para inserir a data de colheita -->
                    <div class="mt-4">
                        <label for="harvest-date" class="block font-semibold">Data de Colheita:</label>
                        <input type="date" id="harvest_date" name="harvest_date" class="w-full border border-gray-300 p-2 rounded" required>
                    </div>
        
                    <!-- Campo para inserir a quantidade colhida -->
                    <div class="mt-4">
                        <label for="harvest-quantity" class="block font-semibold">Quantidade Colhida:</label>
                        <input type="number" id="quantidade_colhida" name="quantidade_colhida" class="w-full border border-gray-300 p-2 rounded" required>
                    </div>
        
                    <!-- Botões de ação -->
                    <div class="mt-6 flex justify-end">
                        <button type="button" class="bg-gray-300 text-black py-2 px-4 rounded hover:bg-gray-400 transition duration-200 mr-2" onclick="closeHarvestModal()">Cancelar</button>
                        <button type="submit" class="bg-[#8ABF17] text-white py-2 px-4 rounded hover:bg-[#5F8C1B] transition duration-200">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}

<script>
    {% comment %} function moveBox(selectedElement) {
        // Obtém todas as caixas com a classe "brown-box"
        const boxes = document.querySelectorAll('.brown-box');
        
        // Remove a classe "bg-green-box" de todas as caixas
        boxes.forEach(box => {
            box.classList.remove('bg-green-box');
        });
        
        // Adiciona a classe "bg-green-box" à caixa clicada
        selectedElement.classList.add('bg-green-box');
    } {% endcomment %}
    
    function openModal() {
        document.getElementById('deleteModal').style.display = 'block';
    }

    function closeModal() {
        document.getElementById('deleteModal').style.display = 'none';
    }

    // Fechar o modal ao clicar fora dele
    window.onclick = function(event) {
        const modal = document.getElementById('deleteModal');
        if (event.target === modal) {
            closeModal();
        }
    }
    //modal de edit
    function openEditModal() {
        document.getElementById('editModal').style.display = 'block';
    }

    function closeEditModal() {
        document.getElementById('editModal').style.display = 'none';
    }

    // Fechar o modal ao clicar fora dele
    window.onclick = function(event) {
        const editModal = document.getElementById('editModal');
        if (event.target === editModal) {
            closeEditModal();
        }
    }
    function openHarvestModal() {
        document.getElementById('harvestModal').style.display = 'block';
    }
    
    function closeHarvestModal() {
        document.getElementById('harvestModal').style.display = 'none';
    }
    
    // Fechar o modal ao clicar fora dele
    window.onclick = function(event) {
        const harvestModal = document.getElementById('harvestModal');
        if (event.target === harvestModal) {
            closeHarvestModal();
        }
    }
</script>

{% endblock content %}
