{% extends "base.html" %} 
{% load static %}

{% block title %}{{ seedbed.nome }}{% endblock %}

{% block styles %}
    .button {
        display: inline-block;
        padding: 10px 20px;
        margin: 10px;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        color: #fff;
        background-color: #007BFF;
        transition: background-color 0.3s;
    }
    .button:hover {
        background-color: #0056b3;
    }
    .dropdown {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    .product-info {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        padding-top: 30px;
    }
    .left-info {
        max-width: 45%;
        padding-right: 40px;
    }
    .right-info {
        max-width: 45%;
        padding-left: 40px;
    }
    
    #product-select {
        width: 250px; /* Largura fixa ou percentual */
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 10px; /* Espaçamento entre a dropdown e o botão */
    }
    .modal {
        display: none; /* Mantenha como 'none' inicialmente */
        position: fixed; /* Fixa o modal em relação à viewport */
        z-index: 1000; /* Garante que o modal fique sobre outros conteúdos */
        left: 0;
        top: 0;
        width: 100%; /* Largura total da tela */
        height: 100%; /* Altura total da tela */
        overflow: auto; /* Permite rolagem se o conteúdo for maior que a tela */
        background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro com opacidade */
    }
    
    .modal-content {
        background-color: white; /* Cor de fundo do conteúdo do modal */
        margin: 15% auto; /* Centraliza verticalmente */
        padding: 20px; /* Espaçamento interno */
        border: 1px solid #888; /* Borda do modal */
        width: 80%; /* Largura do modal */
        max-width: 600px; /* Largura máxima do modal */
        border-radius: 8px; /* Bordas arredondadas */
    }
{% endblock %}

{% block page_classes %}
    bg-gray-300 h-screen p-4
{% endblock %}

{% block content %}
<h1 class="mt-1 ml-5 text-xl font-semibold">
    <a href="{% url 'dashboard' community.id %}" class="text-green-600 hover:underline">Dashboard &gt;</a>
    <a href="{% url 'area_manage' community.id %}" class="text-green-600 hover:underline">Áreas &gt;</a>
    <a href="{% url 'area_detail' community.id area.id %}" class="text-green-600 hover:underline">{{ area.name }} &gt;</a>
</h1>
<div class="flex justify-between items-center">
    <h2 class="ml-5 mt-2 text-4xl font-bold">{{ seedbed.nome }}</h2>
</div>

<br>

<div class="container mx-auto mt-5">
    <div class="flex items-center justify-center">
        <div class="text-center flex-1">
            <ul class="flex flex-wrap list-none justify-center">
                {% for product in seedbed.products_in_seedbed.all %}
                    <li class="flex flex-col items-center mr-12 mb-4">
                        <img src="{% static 'assets/small-plant.png' %}" alt="Área de plantio" class="w-16 h-16 mb-1">
                        <p class="text-lg">{{ product.type_product.name }}</p>
                    </li>
                {% empty %}
                    <li>Nenhum cultivo cadastrado</li>
                {% endfor %}
                <li class="flex flex-col items-center mb-4 mr-12">  
                    <a href="{% url 'create_product' community.id area.pk seedbed.id %}">
                        <img src="{% static 'assets/add.png' %}" alt="Adicionar novo cultivo" class="w-16 h-16">
                    </a>
                    <p class="text-lg">Adicionar Cultivo</p>
                </li>
            </ul>
        </div>
    </div>
</div>

{% if seedbed.products_in_seedbed.all %}
<div class="flex items-center justify-center"> 
    <div class="bg-gray-400 p-6 rounded-lg shadow-lg" style="max-width: 1200px; width: 90%; height: 450px; overflow: auto;">
        <!-- Dropdown para selecionar produto -->
        <form method="GET" action="">
            <div class="flex flex-col">
                <select id="product-select" name="product_id" class="mb-4 p-2 border border-gray-300 rounded">
                    <option value="">Selecione um produto</option>
                    {% for product in products %}
                        <option value="{{ product.id }}" {% if selected_product and selected_product.id == product.id %}selected{% endif %}>
                            {{ product.type_product.name }}
                        </option>
                    {% endfor %}
                </select>
                <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 transition duration-200" style="width: 250px; padding: 10px;">
                    Ver Detalhes
                </button>
            </div>
        </form>
    
        <!-- Detalhes do produto selecionado -->
        {% if selected_product %}
        <div class="product-info mt-6">
            <div class="left-info mb-4">
                <p>
                    <span class="text-lg font-semibold mr-12">Data de plantio:</span>
                    <span class="text-lg" id="planting-date">{{ selected_product.data_plantio }}</span>
                </p>
                <br>
                <p>
                    <span class="text-lg font-semibold mr-4">Estimativa de colheita:</span> 
                    <span class="text-lg" id="harvest-estimate">2 de Janeiro de 2025</span>
                </p>
                <br>
                <span class="text-lg font-semibold mr-12">Tarefas:</span>
                <div id="to-do-list">
                    <ul class="list-disc ml-5">
                        <li>Regar</li>
                        <li>Fertilizar</li>
                    </ul>
                </div>
                <p class="mt-2">
                    <a href="#" id="read-more" onclick="toggleToDo()" 
                       class="mt-3 bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 transition duration-200 inline-block">
                        Ler mais
                    </a>
                </p>
            </div>
    
            <div class="right-info">
                <p>
                    <span class="text-lg font-semibold mr-2">Quantidade: </span>
                    <span class="text-lg" id="quantidade">{{ selected_product.quantidade }}</span>
                </p>
                <br>
                <p>
                    <span class="text-lg font-semibold mr-2">Produção esperada: </span>
                    <span class="text-lg" id="expected-production">100</span>
                </p>
                <br>
                <p> 
                    <span class="text-lg font-semibold mr-2">Comentários: </span>
                    <br>
                    <span class="text-base" id="comments">Excelente desenvolvimento até agora!</span>
                </p>
                <br>
                <form id="delete-product-form" method="POST" action="{% url 'product_delete' community.id area.id seedbed.id selected_product.id %}" style="display:none;">
                    {% csrf_token %}
                </form>
                <button type="button" class="mt-5 bg-red-600 p-4 text-white py-2 rounded hover:bg-red-700 transition duration-200" onclick="openModal()">Excluir Cultivo</button>
            </div>
        </div>
        {% endif %}
    
        <!-- Modal de Confirmação de Exclusão -->
        <div id="deleteModal" class="modal">
            <div class="modal-content">
                <span class="close cursor-pointer" onclick="closeModal()">&times;</span>
                <h1 class="mt-2 font-bold">Tem certeza que deseja deletar o cultivo "{{ selected_product.type_product.name }}"?</h1>
                <p class="mt-2">Essa ação não pode ser desfeita.</p>
                <br>
                <button class="bg-red-600 text-white py-2 px-4 rounded hover:bg-red-700 transition duration-200" onclick="document.getElementById('delete-product-form').submit();">Deletar</button>
                <button class="bg-gray-300 text-black py-2 px-4 rounded hover:bg-gray-400 transition duration-200" onclick="closeModal()">Cancelar</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

<script>
    function openModal() {
        document.getElementById('deleteModal').style.display = 'block';
    }

    function closeModal() {
        document.getElementById('deleteModal').style.display = 'none';
    }

    // Fechar o modal ao clicar fora dele
    window.onclick = function(event) {
        const modal = document.getElementById('deleteModal');
        if (event.target === modal) {
            closeModal();
        }
    }
</script>

{% endblock content %}
